Repository provide-io/flavorpack: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, security

chore: untrack quality-logs, which a stray `git add -A` committed
  .gitignore
  quality-logs/bandit.log
  quality-logs/cargo-machete.log
  quality-logs/clippy.log
  quality-logs/go-vet.log
  quality-logs/gocyclo.log
  quality-logs/golangci-lint.log
  quality-logs/mypy.log
  quality-logs/ruff-format.log
  quality-logs/ruff-lint.log
  quality-logs/rustfmt.log
  quality-logs/staticcheck.log
  quality-logs/vulture-dead-code.log
  quality-logs/xenon-complexity.log
Due: none

ci: run the test suites on pull requests as stage 03b
  .github/workflows/flavor-pipeline.yml
  .github/workflows/pr-pretaster.yml
  .github/workflows/pr-tests.yml
  .github/workflows/taster-pipeline.yml
  CLAUDE.md
  ci/pr-tests.sh
  docs/development/ci-cd.md
Due: none

fix(go): make the verify command check what it says it checked
  src/flavor-go/pkg/psp/format_2025/launcher_cli.go
  src/flavor-go/pkg/psp/format_2025/launcher_cli_test.go
  src/flavor-go/pkg/psp/format_2025/launcher_cli_verify_contract_test.go
  src/flavor-go/pkg/psp/format_2025/reader_verify.go
  src/flavor-rs/tests/verify_rejects_tampering.rs
  tests/security/test_verify_rejects_tampering.py
Due: none

fix(go-tests): stop a stray os.Exit from hiding which test failed
  .gitignore
  src/flavor-go/pkg/psp/format_2025/coverage_remaining_test.go
  src/flavor-go/pkg/psp/format_2025/launcher.go
  src/flavor-go/pkg/psp/format_2025/launcher_cli.go
  src/flavor-go/pkg/psp/format_2025/launcher_cli_additional_test.go
  src/flavor-go/pkg/psp/format_2025/launcher_cli_capture_test.go
  src/flavor-go/pkg/psp/format_2025/launcher_cli_errors_test.go
  src/flavor-go/pkg/psp/format_2025/launcher_cli_extra_test.go
  src/flavor-go/pkg/psp/format_2025/launcher_cli_reader_error_test.go
  src/flavor-go/pkg/psp/format_2025/launcher_cli_readerclose_test.go
  src/flavor-go/pkg/psp/format_2025/launcher_cli_test.go
  src/flavor-go/pkg/psp/format_2025/launcher_cli_verify_contract_test.go
  src/flavor-go/pkg/psp/format_2025/launcher_cli_verify_test.go
  src/flavor-go/pkg/psp/format_2025/launcher_missingpaths_test.go
  src/flavor-go/pkg/psp/format_2025/main_test.go
  src/flavor-go/pkg/psp/format_2025/pe_resource_error_test.go
Due: none

fix(ci): make License Compliance able to fire, read its own policy, and fail
  .github/workflows/license-compliance.yml
  .gitignore
  ci/license-check-rust.sh
Due: none

fix(format): make the three implementations agree on the execution block
  scripts/gen_format_fixtures.py
  src/flavor-go/pkg/psp/format_2025/builder_types.go
  src/flavor-go/pkg/psp/format_2025/format_compat_test.go
  src/flavor-go/pkg/psp/format_2025/metadata.go
  src/flavor-go/pkg/psp/format_2025/metadata_execution_env_test.go
  src/flavor-rs/src/psp/format_2025/metadata.rs
  src/flavor-rs/tests/format_compat.rs
  tests/fixtures/format_compat/execution/README.md
  tests/fixtures/format_compat/execution/omits-primary-slot.json
  tests/format_2025/test_format_compat.py
Due: none

test(go): cover the error path of both execution unmarshalers
  src/flavor-go/pkg/psp/format_2025/metadata_execution_env_test.go
Due: none

docs(fep-0002): specify the metadata document the implementations read
  docs/reference/spec/fep-0002-json-metadata-format.md
  pyproject.toml
  tests/format_2025/test_fep0002_schema.py
  uv.lock
Due: none

fix(python): write the launcher hash with one algorithm prefix
  src/flavor/psp/format_2025/builder.py
  src/flavor/psp/format_2025/metadata/assembly.py
  src/flavor/psp/format_2025/slots.py
  src/flavor/psp/format_2025/writer.py
  tests/format_2025/test_launcher_hash_prefix.py
Due: unit, integration, security

fix: state the placeholder set the launchers share, and drop {primary}
  docs/reference/spec/fep-0002-json-metadata-format.md
  src/flavor/psp/format_2025/executor.py
  tests/fixtures/format_compat/execution/README.md
  tests/format_2025/test_bundle_execution.py
  tests/test_coverage_final3.py
Due: unit, integration, security

fix(launchers): resolve {slot:N} to where the slot actually is
  docs/guide/packaging/configuration.md
  docs/reference/spec/fep-0002-json-metadata-format.md
  src/flavor-go/pkg/psp/format_2025/execution.go
  src/flavor-go/pkg/psp/format_2025/execution_slotpaths.go
  src/flavor-go/pkg/psp/format_2025/execution_slotpaths_test.go
  src/flavor-rs/src/psp/format_2025/execution/mod.rs
  src/flavor-rs/src/psp/format_2025/execution/placeholders.rs
  src/flavor-rs/src/psp/format_2025/launcher/command.rs
  src/flavor-rs/src/psp/format_2025/launcher/extraction.rs
  src/flavor-rs/src/psp/format_2025/launcher/mod.rs
Due: none

fix(tests): stop printing the whole environment on failure
  src/flavor-go/pkg/psp/format_2025/env_assert_test.go
  src/flavor-go/pkg/psp/format_2025/launcher_execution_test.go
  tests/pretaster/scripts/combo_test.py
  tests/pretaster/scripts/combo_test.sh
Due: none

fix(launcher): set each environment variable once
  src/flavor-go/pkg/psp/format_2025/env_assert_test.go
  src/flavor-go/pkg/psp/format_2025/execution.go
  src/flavor-go/pkg/psp/format_2025/execution_env.go
  src/flavor-go/pkg/psp/format_2025/execution_env_set_test.go
  src/flavor-go/pkg/psp/format_2025/launcher_execution_test.go
Due: none

fix(rust): read a package that declares no execution block
  docs/reference/spec/fep-0002-json-metadata-format.md
  src/flavor-rs/src/psp/format_2025/builder/metadata.rs
  src/flavor-rs/src/psp/format_2025/cli.rs
  src/flavor-rs/src/psp/format_2025/execution/validation.rs
  src/flavor-rs/src/psp/format_2025/launcher/command.rs
  src/flavor-rs/src/psp/format_2025/launcher/extraction.rs
  src/flavor-rs/src/psp/format_2025/launcher/mod.rs
  src/flavor-rs/src/psp/format_2025/launcher/workenv.rs
  src/flavor-rs/src/psp/format_2025/metadata.rs
  src/flavor-rs/tests/format_compat.rs
  src/flavor-rs/tests/pspf_integration.rs
  tests/format_2025/test_fep0002_schema.py
Due: none

fix(rust): lint the tests, and fix what that finds
  ci/quality-checks.sh
  src/flavor-rs/Makefile
  src/flavor-rs/src/api.rs
  src/flavor-rs/src/lib.rs
  src/flavor-rs/src/psp/format_2025/builder/finalization.rs
  src/flavor-rs/src/psp/format_2025/builder/mod.rs
  src/flavor-rs/src/psp/format_2025/execution/commands.rs
  src/flavor-rs/src/psp/format_2025/extraction.rs
  src/flavor-rs/src/utils/mod.rs
Due: none

chore: ignore the build output that was purged from history
  .gitignore
Due: none

fix(packaging): make the builder prove the launcher it ships can read the package
  docs/reference/spec/fep-0002-json-metadata-format.md
  src/flavor/config/defaults.py
  src/flavor/packaging/orchestrator.py
  src/flavor/packaging/orchestrator_helpers.py
  tests/packaging/test_orchestrator_self_check.py
  tests/resilience/test_launcher_availability.py
  tests/test_coverage_final3.py
  tests/test_coverage_gaps_batch2.py
Due: unit, integration

chore(ci): clear the advisory lint backlog and enforce what now passes
  .github/workflows/code-quality.yml
  ci/install-go-quality-tools.sh
  ci/install-rust-quality-tools.sh
  ci/quality-checks.sh
  pyproject.toml
  src/flavor-go/internal/workenv/workenv_test.go
  src/flavor-go/pkg/psp/format_2025/builder_dobuild_test.go
  src/flavor-go/pkg/psp/format_2025/builder_writefail_test.go
  src/flavor-go/pkg/psp/format_2025/execution_preparepath_test.go
  src/flavor-go/pkg/psp/format_2025/execution_slots_additional_test.go
  src/flavor-go/pkg/psp/format_2025/execution_valid_false_test.go
  src/flavor-go/pkg/psp/format_2025/execution_validation_test.go
  src/flavor-go/pkg/psp/format_2025/launcher.go
  src/flavor-go/pkg/psp/format_2025/launcher_cli.go
  src/flavor-go/pkg/psp/format_2025/launcher_cli_capture_test.go
  src/flavor-go/pkg/psp/format_2025/launcher_cli_errors_test.go
  src/flavor-go/pkg/psp/format_2025/launcher_execbundle_test.go
  src/flavor-go/pkg/psp/format_2025/launcher_missingpaths_test.go
  src/flavor-go/pkg/psp/format_2025/launcher_spawn_test.go
  src/flavor-go/pkg/psp/format_2025/locking_permission_test.go
  src/flavor-go/pkg/psp/format_2025/platform_vars.go
  src/flavor/packaging/python/wheel_builder.py
  tests/packaging/python/test_wheel_builder_critical.py
  uv.lock
Due: unit, integration

fix(launcher): stop releasing an extraction lock this process never took
  src/flavor-go/pkg/psp/format_2025/execution.go
  src/flavor-go/pkg/psp/format_2025/execution_lock_ownership_test.go
  src/flavor-go/pkg/psp/format_2025/execution_setup_commands.go
  src/flavor-go/pkg/psp/format_2025/execution_verify.go
  src/flavor-go/pkg/psp/format_2025/execution_workenv_setup.go
Due: none

refactor(builder): lift key resolution and metadata assembly out of doBuild
  src/flavor-go/pkg/psp/format_2025/builder.go
  src/flavor-go/pkg/psp/format_2025/builder_keys.go
  src/flavor-go/pkg/psp/format_2025/builder_metadata.go
Due: none

refactor(security): decompose the Python launcher's integrity verifier
  src/flavor/psp/security.py
Due: unit, integration, security

refactor(launcher): give the runtime env operations one function each
  src/flavor-go/pkg/psp/format_2025/runtime.go
  src/flavor-go/pkg/psp/format_2025/runtime_env_ops.go
Due: none

refactor(builder): finish decomposing doBuild into its layout phases
  src/flavor-go/pkg/psp/format_2025/builder.go
  src/flavor-go/pkg/psp/format_2025/builder_inputs.go
  src/flavor-go/pkg/psp/format_2025/builder_layout.go
Due: none

Path conditions:
  unit: any of: src/flavor/, but not: tests/, **/*_pb2.py, **/*_pb2.pyi, **/generated/*, **/__pycache__/
  integration: any of: src/flavor/, but not: tests/, **/*_pb2.py, **/*_pb2.pyi, **/generated/*, **/__pycache__/
  security: any of: src/flavor/psp/, src/flavor/crypto/, but not: tests/, **/*_pb2.py, **/*_pb2.pyi, **/generated/*, **/__pycache__/
