Repository provide-io/flavorpack: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, security

test(parity): add trust store parity tests
  tests/parity/test_trust_parity.py
Due: none

fix(rust/trust): use trust::compute_key_fingerprint in launcher
  src/flavor-rs/src/psp/format_2025/launcher/mod.rs
Due: none

feat(sbom): add CycloneDX 1.6 SBOM generation
  src/flavor/psp/format_2025/sbom.py
  tests/format_2025/test_sbom.py
Due: unit, integration, security

feat(provenance): add build provenance record generation
  src/flavor/psp/format_2025/provenance.py
  tests/format_2025/test_provenance.py
Due: unit, integration, security

feat(attestation): add attestation slot assembly and digest computation
  src/flavor/psp/format_2025/attestation.py
  tests/format_2025/test_attestation_slot.py
Due: unit, integration, security

fix(sbom,provenance): normalize CycloneDX hash alg names, fix provenance fingerprint field
  src/flavor/psp/format_2025/attestation.py
  src/flavor/psp/format_2025/provenance.py
  src/flavor/psp/format_2025/sbom.py
  tests/format_2025/test_attestation_slot.py
  tests/format_2025/test_provenance.py
  tests/format_2025/test_sbom.py
Due: unit, integration, security

fix: remove dead if-true branch in Rust verifier metadata decompression
  .gitignore
  src/flavor-go/pkg/psp/format_2025/fuzz_test.go
  src/flavor-rs/src/psp/format_2025/extraction.rs
  src/flavor-rs/src/psp/format_2025/verifier.rs
  tests/format_2025/test_hypothesis_invariants.py
  tests/security/test_path_traversal.py
Due: none

test: add regression tests for cross-platform fixes and version sync
  src/flavor-go/pkg/psp/format_2025/vectors_regression_test.go
  src/flavor-rs/src/psp/format_2025/execution/commands.rs
  src/flavor-rs/src/psp/format_2025/launcher/command.rs
  src/flavor/packaging/orchestrator_helpers.py
  tests/cli/test_pack_removed_options.py
  tests/format_2025/test_workenv_core.py
  tests/packaging/test_orchestrator.py
  tests/test_version_sync.py
Due: unit, integration

fix(ci): pin astral-sh/setup-uv to v8.0.0 SHA
  .github/scripts/build-platform-wheel.sh
  .github/scripts/setup-python-workenv.sh
  .github/workflows/01-helper-prep.yml
  .github/workflows/03-flavor-pipeline.yml
  .github/workflows/04-taster-pipeline.yml
  .github/workflows/05-code-quality.yml
  .github/workflows/06-security-scan.yml
  .github/workflows/07-dependency-audit.yml
  .github/workflows/08-license-compliance.yml
Due: none

fix(format_2025): Fix workenv root target normalization
  src/flavor/psp/format_2025/targets.py
  tests/format_2025/test_launcher_coverage.py
Due: unit, integration, security

chore: remove dead code and fix PSPFBuilder temp file ownership transfer
  .github/scripts/run-tests.sh
  .github/workflows/03-flavor-pipeline.yml
  docs/development/testing/index.md
  docs/explanation/architecture.md
  docs/reference/requirements.md
  src/flavor-go/pkg/psp/errors/errors.go
  src/flavor/packaging/orchestrator.py
  src/flavor/packaging/python/wheel_builder.py
  src/flavor/psp/format_2025/pspf_builder.py
  src/flavor/psp/format_2025/workenv.py
  tests/conftest.py
  tests/format_2025/test_metadata_assembly.py
  tests/format_2025/test_security_failure_branches.py
  tests/parity/conftest.py
  tests/security/test_security_core.py
Due: unit, integration, security

fix(ci): skip VERSION commit when already at target version
  .github/scripts/analyze_pe_binaries.ps1
  .github/scripts/analyze_pe_binaries.py
  .github/scripts/prepare-release.sh
  .github/scripts/test-binaries.ps1
  .github/scripts/validate-release-artifacts.sh
  .github/workflows/release.yml
  docs/development/WINDOWS_ARM64_BUILD.md
Due: none

harden(pspf): strengthen verification and extraction logic
  src/flavor-rs/Cargo.toml
  src/flavor-rs/src/api.rs
  src/flavor-rs/src/psp/format_2025/cli.rs
  src/flavor-rs/src/psp/format_2025/extraction.rs
  src/flavor-rs/src/psp/format_2025/launcher/mod.rs
  src/flavor-rs/src/psp/format_2025/launcher/workenv.rs
  src/flavor-rs/src/psp/format_2025/verifier.rs
  src/flavor/commands/package.py
  src/flavor/commands/verify.py
  src/flavor/package.py
  src/flavor/psp/format_2025/executor.py
  src/flavor/psp/format_2025/launcher.py
  src/flavor/psp/format_2025/targets.py
  src/flavor/psp/format_2025/validation.py
  src/flavor/psp/format_2025/workenv.py
  src/flavor/verification.py
  tests/cli/test_cli.py
  tests/cli/test_pack_removed_options.py
  tests/format_2025/test_launcher_coverage.py
  tests/format_2025/test_validation_extra.py
  tests/format_2025/test_workenv_core.py
  tests/format_2025/test_workenv_directories.py
  tests/helpers/test_helper_manager.py
  tests/taster/src/taster/commands/crosslang.py
  tests/taster/src/taster/commands/verify.py
  tests/test_verification.py
Due: unit, integration, security

chore: update actions/setup-python and actions/setup-go to v6
  .github/workflows/01-helper-prep.yml
  .github/workflows/03-flavor-pipeline.yml
  .github/workflows/04-taster-pipeline.yml
  .github/workflows/05-code-quality.yml
  .github/workflows/06-security-scan.yml
  .github/workflows/07-dependency-audit.yml
  .github/workflows/08-license-compliance.yml
  .github/workflows/compatibility-check.yml
  src/flavor-rs/src/psp/format_2025/execution/commands.rs
  tests/format_2025/test_workenv_core.py
  tests/format_2025/test_workenv_directories.py
Due: none

harden(pspf): introduce integrity checks for verification and extraction
  .gitignore
Due: none

chore: remove stale files from repo root
  COVERAGE_ASSESSMENT.md
  WINDOWS_ARM64_COMPLETION_REPORT.md
  fix_future_imports.py
  fix_indentation.py
  test-windows-ci.sh
  ty.toml
  wrknv.toml
Due: none

feat(builder): add attestation slot creation and bind SBOM digest to index
  src/flavor/psp/format_2025/builder.py
  src/flavor/psp/format_2025/writer.py
  tests/format_2025/test_builder_attestation.py
  tests/format_2025/test_pspf_2025_builder.py
  tests/format_2025/test_pspf_2025_integration.py
  tests/format_2025/test_pspf_2025_slots_lifecycle.py
  tests/format_2025/test_pspf_builder_integration.py
Due: unit, integration, security

Path conditions:
  unit: any of: src/flavor/, but not: tests/, **/*_pb2.py, **/*_pb2.pyi, **/generated/*, **/__pycache__/
  integration: any of: src/flavor/, but not: tests/, **/*_pb2.py, **/*_pb2.pyi, **/generated/*, **/__pycache__/
  security: any of: src/flavor/psp/, src/flavor/crypto/, but not: tests/, **/*_pb2.py, **/*_pb2.pyi, **/generated/*, **/__pycache__/
