Repository provide-io/flavorpack: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, security

fix: PE resource embedding — FindResource arg, offset rebasing, lifecycle cleanup
  src/flavor-go/pkg/psp/format_2025/builder.go
  src/flavor-go/pkg/psp/format_2025/execution.go
  src/flavor-go/pkg/psp/format_2025/pe_resources.go
Due: none

fix: make all Python tests pass on Windows ARM64
  Makefile
  pyproject.toml
  src/flavor-go/pkg/psp/format_2025/builder_windows_test.go
  src/flavor/packaging/orchestrator.py
  src/flavor/packaging/orchestrator_helpers.py
  src/flavor/packaging/python/pypapip_manager.py
  src/flavor/packaging/python/uv_manager.py
  src/flavor/packaging/python/wheel_builder.py
  src/flavor/psp/format_2025/environment.py
  src/flavor/psp/format_2025/reader.py
  tests/format_2025/test_bundle_execution.py
  tests/format_2025/test_keys_resolution.py
  tests/format_2025/test_pspf_builder_integration.py
  tests/format_2025/test_slots.py
  tests/format_2025/test_workenv_commands.py
  tests/format_2025/test_workenv_directories.py
  tests/helpers/test_binary_loader_extra.py
  tests/mmap/test_mmap_edge_cases.py
  tests/mmap/test_mmap_performance_core.py
  tests/mmap/test_mmap_performance_resources.py
  tests/packaging/python/test_dist_manager.py
  tests/packaging/python/test_slot_builder_core.py
  tests/packaging/test_keys.py
  tests/security/test_package_security.py
Due: unit, integration, security

fix: request native ARM64 Python on Windows ARM64 via uv explicit spec
  src/flavor/packaging/python/environment_builder.py
Due: unit, integration

fix: pin cryptography>=46.0.0,<=46.0.3 and cffi>=2.0.0 for win_arm64 wheels
  pyproject.toml
Due: none

fix: combo test works on Windows — bash port of combo_test.py
  tests/pretaster/scripts/combo_test.sh
  tests/pretaster/scripts/echo_test.sh
  tests/pretaster/scripts/env_test.sh
  tests/pretaster/scripts/orchestrate.tar.gz
  tests/pretaster/slots/init-data.tar.gz
  tests/pretaster/slots/scripts.tar.gz
  tests/pretaster/slots/utilities.tar.gz
  tests/pretaster/tests/combo/test-combinations.sh
  tests/pretaster/tests/core/test-pretaster.sh
Due: none

fix: combo test works on Windows — bash port of combo_test.py
  tests/pretaster/failure-diagnostics/pretaster-go-go-load-fail.exe
  tests/pretaster/failure-diagnostics/pretaster-go-go-load-fail.hex
  tests/pretaster/scripts/combo_test.sh
  tests/pretaster/scripts/echo_test.sh
  tests/pretaster/scripts/env_test.sh
  tests/pretaster/scripts/orchestrate.tar.gz
  tests/pretaster/slots/init-data.tar.gz
  tests/pretaster/slots/scripts.tar.gz
  tests/pretaster/slots/utilities.tar.gz
  tests/pretaster/tests/combo/test-combinations.sh
  tests/pretaster/tests/core/test-pretaster.sh
Due: none

fix: resolve taster grpcio yank and truststore SSL error on Windows
  src/flavor/packaging/python/uv_manager.py
Due: unit, integration

fix: test-flavor-self-contained finds .psp on Windows (not only .exe)
  ci/test-flavor-self-contained.sh
Due: none

fix: pass --no-truststore to all pip commands to fix Windows GHA SSL error
  src/flavor/packaging/python/pypapip_manager.py
  src/flavor/packaging/python/uv_manager.py
Due: unit, integration

fix: add --no-config to uv wheel install in PSP setup commands
  src/flavor/packaging/orchestrator_helpers.py
Due: unit, integration

fix: also search Scripts/ and bin/ subdirs when finding uv next to Python
  src/flavor/packaging/python/uv_manager.py
Due: unit, integration

fix: use_isolation=False for local dep builds; fix test sys.platform mocking
  tests/packaging/python/test_dist_manager.py
  tests/packaging/python/test_integration.py
  tests/packaging/python/test_wheel_builder.py
  tests/packaging/python/test_wheel_builder_critical.py
Due: none

fix: find uv next to Python exe; add arm64 Windows uv URL; update versions
  src/flavor/packaging/python/uv_manager.py
Due: unit, integration

Path conditions:
  unit: any of: src/flavor/, but not: tests/, **/*_pb2.py, **/*_pb2.pyi, **/generated/*, **/__pycache__/
  integration: any of: src/flavor/, but not: tests/, **/*_pb2.py, **/*_pb2.pyi, **/generated/*, **/__pycache__/
  security: any of: src/flavor/psp/, src/flavor/crypto/, but not: tests/, **/*_pb2.py, **/*_pb2.pyi, **/generated/*, **/__pycache__/
