Repository provide-io/flavorpack: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, security

feat(sbom): add CycloneDX 1.6 SBOM generation
  src/flavor/psp/format_2025/sbom.py
  tests/format_2025/test_sbom.py
Due: unit, integration, security

fix(rust/trust): use trust::compute_key_fingerprint in launcher
  src/flavor-rs/src/psp/format_2025/launcher/mod.rs
Due: none

fix(sbom,provenance): normalize CycloneDX hash alg names, fix provenance fingerprint field
  src/flavor/psp/format_2025/attestation.py
  src/flavor/psp/format_2025/provenance.py
  src/flavor/psp/format_2025/sbom.py
  tests/format_2025/test_attestation_slot.py
  tests/format_2025/test_provenance.py
  tests/format_2025/test_sbom.py
Due: unit, integration, security

feat(attestation): add attestation slot assembly and digest computation
  src/flavor/psp/format_2025/attestation.py
  tests/format_2025/test_attestation_slot.py
Due: unit, integration, security

feat(provenance): add build provenance record generation
  src/flavor/psp/format_2025/provenance.py
  tests/format_2025/test_provenance.py
Due: unit, integration, security

feat(go): verify attestation SBOM digest at launch
  src/flavor-go/pkg/psp/format_2025/attestation_verify_test.go
  src/flavor-go/pkg/psp/format_2025/reader_verify.go
Due: none

feat(builder): add attestation slot creation and bind SBOM digest to index
  src/flavor/psp/format_2025/builder.py
Due: unit, integration, security

feat(rust): verify attestation SBOM digest at launch
  src/flavor-rs/src/psp/format_2025/verifier.rs
Due: none

fix(go): wire attestation SBOM digest verification into execution flow
  src/flavor-go/pkg/psp/format_2025/execution.go
Due: none

test(parity): add SBOM and attestation digest parity tests
  tests/parity/test_sbom_parity.py
Due: none

test(rust): add test for digest-present-no-slot in verifier
  src/flavor-rs/src/psp/format_2025/verifier.rs
Due: none

feat(policy): add policy schema, parsing, and merge logic
  src/flavor/config/policy.py
  tests/config/test_policy.py
Due: unit, integration

Path conditions:
  unit: any of: src/flavor/, but not: tests/, **/*_pb2.py, **/*_pb2.pyi, **/generated/*, **/__pycache__/
  integration: any of: src/flavor/, but not: tests/, **/*_pb2.py, **/*_pb2.pyi, **/generated/*, **/__pycache__/
  security: any of: src/flavor/psp/, src/flavor/crypto/, but not: tests/, **/*_pb2.py, **/*_pb2.pyi, **/generated/*, **/__pycache__/
