Repository provide-io/flavorpack: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, security

test: add 104 coverage-gap tests for format_2025 core modules
  tests/format_2025/test_coverage_gaps.py
Due: none

test: final coverage sweep, achieve >99% Python coverage
  src/flavor/helpers/binary_loader.py
  src/flavor/psp/format_2025/metadata/assembly.py
  src/flavor/psp/format_2025/validation.py
  tests/test_coverage_gaps_final.py
Due: unit, integration, security

test: 290 coverage-gap tests for packaging, commands, config, helpers
  tests/packaging/python/test_coverage_gaps.py
  tests/test_coverage_gaps_batch2.py
Due: none

test(security): e2e integration tests for policy hash, key fingerprint, SBOM digest, CLI commands
  src/flavor/psp/format_2025/metadata/assembly.py
  tests/conftest.py
  tests/integration/test_security_e2e.py
Due: unit, integration, security

feat(taster): add security command group for SBOM/provenance/policy/trust CLI testing
  mutants/tests/taster/src/taster/cli.py
  mutants/tests/taster/src/taster/commands/security.py
  mutants/tests/taster/tests/test_security.py
Due: none

test(pretaster): add security tests for platform policy enforcement and SBOM inspection
  tests/pretaster/configs/test-policy-block.json
  tests/pretaster/scripts/build_policy_blocked_psp.py
  tests/pretaster/scripts/policy_test.py
  tests/pretaster/tests/test-security.sh
Due: none

docs: add enterprise security reference — policy, trust, SBOM, attestation
  docs/guide/concepts/security.md
  docs/guide/packaging/configuration.md
  docs/guide/packaging/signing.md
  docs/guide/usage/cli.md
Due: none

fix: go launcher init slot cleanup order and executable resolution
  src/flavor-go/pkg/psp/format_2025/execution.go
  src/flavor-go/pkg/psp/format_2025/execution_resolve.go
  src/flavor/packaging/orchestrator_helpers.py
  tests/packaging/test_orchestrator_helpers_core.py
  tests/packaging/test_orchestrator_helpers_manifests.py
Due: unit, integration

fix: flavor pack correctly handles raw JSON manifests
  src/flavor/package.py
  src/flavor/packaging/orchestrator.py
Due: unit, integration

fix: remove stray binaries from source tree and move taster security to correct location
  .gitignore
  mutants/tests/taster/src/taster/cli.py
  tests/taster/src/taster/cli.py
  tests/taster/src/taster/commands/security.py
  tests/taster/tests/test_security.py
Due: none

fix: remove stray binaries from source tree and move taster security to correct location
  .gitignore
  mutants/tests/taster/src/taster/cli.py
  src/flavor-go/flavor-go-builder
  src/flavor-go/flavor-go-launcher
  tests/taster/src/taster/cli.py
  tests/taster/src/taster/commands/security.py
  tests/taster/tests/test_security.py
Due: none

test(pretaster): prove JSON manifest works with all 4 builder/launcher combos
  tests/pretaster/tests/json-manifest-combinations.sh
Due: none

refactor(go): centralize FLAVOR_* env var names as constants
  src/flavor-go/pkg/psp/format_2025/builder.go
  src/flavor-go/pkg/psp/format_2025/envvars.go
  src/flavor-go/pkg/psp/format_2025/execution.go
  src/flavor-go/pkg/psp/format_2025/execution_policy.go
  src/flavor-go/pkg/psp/format_2025/launcher.go
  src/flavor-go/pkg/psp/format_2025/launcher_validation.go
  src/flavor-go/pkg/psp/format_2025/slot_processor.go
  src/flavor-go/pkg/psp/format_2025/trust.go
  src/flavor-go/pkg/psp/format_2025/utils.go
  src/flavor-rs/src/bin/flavor-rs-launcher.rs
  src/flavor-rs/src/env_vars.rs
  src/flavor-rs/src/lib.rs
  src/flavor-rs/src/logger.rs
  src/flavor-rs/src/psp/format_2025/builder/finalization.rs
  src/flavor-rs/src/psp/format_2025/builder/metadata.rs
  src/flavor-rs/src/psp/format_2025/builder/mod.rs
  src/flavor-rs/src/psp/format_2025/builder/slot_processor.rs
  src/flavor-rs/src/psp/format_2025/defaults.rs
  src/flavor-rs/src/psp/format_2025/launcher/command.rs
  src/flavor-rs/src/psp/format_2025/launcher/mod.rs
  src/flavor-rs/src/psp/format_2025/policy.rs
  src/flavor-rs/src/psp/format_2025/reader.rs
  src/flavor-rs/src/psp/format_2025/trust.rs
  src/flavor-rs/src/utils/mod.rs
Due: none

test(parity): add env var cross-language parity tests
  tests/parity/test_env_var_parity.py
Due: none

fix(pretaster): use ${CI:-} safe fallback in test-lib.sh instead of caller workaround
  tests/pretaster/tests/json-manifest-combinations.sh
  tests/pretaster/tests/test-lib.sh
Due: none

fix(pretaster): remove GitHub-specific GITHUB_ACTIONS var, CI is sufficient
  tests/pretaster/tests/test-lib.sh
Due: none

test(parity): extend env var parity to Python; add builder CLI flag parity tests
  tests/parity/test_builder_cli_parity.py
  tests/parity/test_env_var_parity.py
Due: none

refactor(python): centralize FLAVOR_* env var names as constants in env_vars.py
  src/flavor/cache.py
  src/flavor/commands/package.py
  src/flavor/config/dirs.py
  src/flavor/env_vars.py
  src/flavor/packaging/orchestrator.py
  src/flavor/packaging/orchestrator_helpers.py
  src/flavor/packaging/python/slot_builder.py
  src/flavor/packaging/python/uv_manager.py
  src/flavor/psp/format_2025/builder.py
  src/flavor/psp/format_2025/metadata/assembly.py
Due: unit, integration, security

refactor(python): env var names in defaults.py + config_field; remove env_vars.py
  src/flavor/cache.py
  src/flavor/commands/package.py
  src/flavor/config/config.py
  src/flavor/config/defaults.py
  src/flavor/config/dirs.py
  src/flavor/env_vars.py
  src/flavor/packaging/orchestrator.py
  src/flavor/packaging/orchestrator_helpers.py
  src/flavor/packaging/python/slot_builder.py
  src/flavor/packaging/python/uv_manager.py
  src/flavor/psp/format_2025/builder.py
  src/flavor/psp/format_2025/metadata/assembly.py
  tests/pretaster/scripts/orchestrate.tar.gz
  tests/pretaster/slots/init-data.tar.gz
  tests/pretaster/slots/scripts.tar.gz
  tests/pretaster/slots/utilities.tar.gz
Due: unit, integration, security

fix(go): reject symlinks in tar extraction to prevent path escape
  src/flavor-go/pkg/psp/format_2025/reader_slots.go
  src/flavor-go/pkg/psp/format_2025/reader_slots_test.go
Due: none

fix: enforce require_trusted_key policy in Go and Rust launchers
  src/flavor-go/pkg/psp/format_2025/execution.go
  src/flavor-go/pkg/psp/format_2025/execution_policy.go
  src/flavor-go/pkg/psp/format_2025/execution_policy_test.go
  src/flavor-rs/src/psp/format_2025/launcher/mod.rs
  src/flavor-rs/src/psp/format_2025/policy.rs
Due: none

fix(rust): strict validation default; tighten Ed25519 SPKI parser
  src/flavor-rs/src/psp/format_2025/defaults.rs
  src/flavor-rs/src/psp/format_2025/trust.rs
Due: none

Path conditions:
  unit: any of: src/flavor/, but not: tests/, **/*_pb2.py, **/*_pb2.pyi, **/generated/*, **/__pycache__/
  integration: any of: src/flavor/, but not: tests/, **/*_pb2.py, **/*_pb2.pyi, **/generated/*, **/__pycache__/
  security: any of: src/flavor/psp/, src/flavor/crypto/, but not: tests/, **/*_pb2.py, **/*_pb2.pyi, **/generated/*, **/__pycache__/
