Repository provide-io/flavorpack: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, security

fix: critical and high Go audit findings in PSPF builder and launcher
  src/flavor-go/pkg/psp/format_2025/builder.go
  src/flavor-go/pkg/psp/format_2025/execution.go
  src/flavor-go/pkg/psp/format_2025/execution_env.go
  src/flavor-go/pkg/psp/format_2025/locking_unix.go
  src/flavor-go/pkg/psp/format_2025/locking_windows.go
Due: none

fix: add temp file cleanup to PSPFBuilder
  src/flavor/psp/format_2025/pspf_builder.py
Due: unit, integration, security

fix: replace hardcoded cache paths with get_cache_dir()
  src/flavor/psp/format_2025/launcher.py
Due: unit, integration, security

test: add cross-language parity test framework with Markdown report
  src/flavor-go/pkg/psp/format_2025/execution_utils.go
  src/flavor-rs/src/psp/format_2025/reader.rs
  src/flavor/psp/format_2025/launcher.py
  tests/parity/conftest.py
  tests/parity/test_extraction_parity.py
  tests/parity/test_platform_parity.py
  tests/parity/test_verification_parity.py
Due: unit, integration, security

chore: remove dead code and fix PSPFBuilder temp file ownership transfer
  src/flavor/packaging/orchestrator.py
  src/flavor/psp/format_2025/pspf_builder.py
  tests/format_2025/test_security_failure_branches.py
Due: unit, integration, security

docs: add verification contract, cache dir spec, parity test guide; add parity to CI
  .github/workflows/flavor-pipeline.yml
  ci/run-tests.sh
  docs/development/testing/index.md
  docs/explanation/architecture.md
  docs/reference/requirements.md
Due: none

fix: move --parity-report option to root conftest
  tests/conftest.py
  tests/parity/conftest.py
Due: none

feat(config): add get_config_dir() with XDG and env-var resolution
  src/flavor/config/dirs.py
  tests/config/test_dirs.py
Due: unit, integration

docs: add XDG config dir resolution, FLAVOR_CONFIG_DIR, get_config_dir() contract
  docs/reference/requirements.md
Due: none

feat(format): add LifecycleAttestation=11 across Python, Go, Rust
  tests/parity/test_lifecycle_constants.py
Due: none

fix(config): add future annotations import and fix import ordering in dirs.py
  src/flavor/config/dirs.py
Due: unit, integration

feat(format): add attestation fields to PSPFIndex carved from reserved space
  tests/format_2025/test_attestation_index.py
Due: none

Path conditions:
  unit: any of: src/flavor/, but not: tests/, **/*_pb2.py, **/*_pb2.pyi, **/generated/*, **/__pycache__/
  integration: any of: src/flavor/, but not: tests/, **/*_pb2.py, **/*_pb2.pyi, **/generated/*, **/__pycache__/
  security: any of: src/flavor/psp/, src/flavor/crypto/, but not: tests/, **/*_pb2.py, **/*_pb2.pyi, **/generated/*, **/__pycache__/
