Repository provide-io/flavorpack: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, security

.codecov.yml:

# Codecov configuration for flavorpack
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 1%

  precision: 2
  round: down
  range: "70...100"

ignore:
  - "tests/"
  - "**/*_pb2.py"
  - "**/*_pb2.pyi"
  - "**/generated/*"
  - "**/__pycache__/"

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false

flags:
  unit:
    paths:
      - src/flavor/
  integration:
    paths:
      - src/flavor/
  security:
    paths:
      - src/flavor/psp/
      - src/flavor/crypto/

test: add cross-language quality observability workflows
  .github/workflows/code-quality.yml
  AGENTS.md
  Makefile
  README.md
  pyproject.toml
  src/flavor-go/Makefile
  src/flavor-rs/fuzz/Cargo.lock
  src/flavor-rs/fuzz/Cargo.toml
  src/flavor-rs/fuzz/fuzz_targets/pspf_operations_roundtrip.rs
  src/flavor-rs/fuzz/fuzz_targets/pspf_reader_no_panic.rs
Due: none

test: cover quality observability contracts
  tests/test_quality_observability.py
Due: none

test: implement cross-language test taxonomy
  .github/workflows/code-quality.yml
  AGENTS.md
  Makefile
  README.md
  tests/format_2025/test_hypothesis_invariants.py
  tests/format_2025/test_launcher_security_parity.py
  tests/parity/test_builder_cli_parity.py
  tests/parity/test_env_var_parity.py
  tests/parity/test_extraction_parity.py
  tests/parity/test_lifecycle_constants.py
  tests/parity/test_platform_parity.py
  tests/parity/test_policy_parity.py
  tests/parity/test_sbom_parity.py
  tests/parity/test_trust_parity.py
  tests/parity/test_verification_parity.py
  tests/test_quality_observability.py
  tests/test_test_taxonomy.py
Due: none

test(rust): expand coverage and security cases
  src/flavor-rs/Cargo.lock
  src/flavor-rs/deny.toml
  src/flavor-rs/fuzz/Cargo.lock
  src/flavor-rs/src/logger.rs
  src/flavor-rs/src/psp/format_2025/backends.rs
  src/flavor-rs/src/psp/format_2025/builder/mod.rs
  src/flavor-rs/src/psp/format_2025/checksums.rs
  src/flavor-rs/src/psp/format_2025/defaults.rs
  src/flavor-rs/src/psp/format_2025/execution/commands.rs
  src/flavor-rs/src/psp/format_2025/execution/validation.rs
  src/flavor-rs/src/psp/format_2025/extraction.rs
  src/flavor-rs/src/psp/format_2025/launcher/command.rs
  src/flavor-rs/src/psp/format_2025/launcher/mod.rs
  src/flavor-rs/src/psp/format_2025/launcher/workenv.rs
  src/flavor-rs/src/psp/format_2025/metadata.rs
  src/flavor-rs/src/psp/format_2025/paths.rs
  src/flavor-rs/src/psp/format_2025/trust.rs
  src/flavor-rs/src/version.rs
Due: none

fix(ci): serialize Rust tests; fix Go test assertions
  .pre-commit-config.yaml
  src/flavor-go/pkg/psp/format_2025/launcher_cli_additional_test.go
  src/flavor-go/pkg/psp/format_2025/launcher_cli_test.go
  src/flavor-go/pkg/psp/format_2025/launcher_dispatch_additional_test.go
  src/flavor-go/pkg/psp/format_2025/launcher_execution_test.go
Due: none

fix(windows): harden Windows-only PSPF paths in Go and Rust
  src/flavor-go/internal/workenv/workenv_test.go
  src/flavor-go/pkg/psp/format_2025/execution_env_test.go
  src/flavor-go/pkg/psp/format_2025/execution_policy_test.go
  src/flavor-go/pkg/psp/format_2025/execution_utils_test.go
  src/flavor-go/pkg/psp/format_2025/reader_slots_additional_test.go
  src/flavor-go/pkg/psp/format_2025/security_helpers_test.go
  src/flavor-rs/src/psp/format_2025/builder/mod.rs
  src/flavor-rs/src/psp/format_2025/execution/commands.rs
  src/flavor-rs/src/psp/format_2025/launcher/command.rs
  src/flavor-rs/src/psp/format_2025/launcher/mod.rs
  src/flavor-rs/src/psp/format_2025/policy.rs
Due: none

refactor(python): extend env var constant coverage to psp/format_2025 files
  src/flavor/config/defaults.py
  src/flavor/psp/format_2025/builder.py
  src/flavor/psp/format_2025/environment.py
  src/flavor/psp/format_2025/metadata/assembly.py
Due: unit, integration, security

refactor(python): centralize FLAVOR_* env var names in defaults.py; fix FLAVOR_CACHE→FLAVOR_CACHE_DIR
  src/flavor/cache.py
  src/flavor/commands/package.py
  src/flavor/config/config.py
  src/flavor/config/defaults.py
  src/flavor/packaging/orchestrator.py
  src/flavor/packaging/orchestrator_helpers.py
  src/flavor/packaging/python/slot_builder.py
  src/flavor/packaging/python/uv_manager.py
  tests/parity/test_env_var_parity.py
Due: unit, integration

fix(go): make launcher tests cross-platform for Windows
  src/flavor-go/pkg/psp/format_2025/launcher_cli_additional_test.go
  src/flavor-go/pkg/psp/format_2025/launcher_execution_test.go
Due: none

feat(cli): add flavor doctor diagnostic command
  src/flavor/cli.py
  src/flavor/commands/doctor.py
  tests/cli/test_doctor.py
Due: unit, integration
