Repository provide-io/flavorpack: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, security

ci: validate wheel contents in flavor pipeline
  .github/workflows/03-flavor-pipeline.yml
Due: none

feat(cli): add flavor doctor diagnostic command
  src/flavor/cli.py
  src/flavor/commands/__init__.py
  src/flavor/commands/doctor.py
  tests/cli/test_doctor.py
Due: unit, integration

docs: stage deletion of original plan/spec files after archive move
  docs/superpowers/plans/2026-03-27-hermetic-build-backends.md
  docs/superpowers/plans/2026-03-30-pspf-security-hardening.md
  docs/superpowers/plans/2026-03-31-enterprise-security-plan-1-foundation.md
  docs/superpowers/plans/2026-03-31-enterprise-security-plan-2-trusted-key-store.md
  docs/superpowers/plans/2026-03-31-enterprise-security-plan-3-sbom-provenance.md
  docs/superpowers/plans/2026-03-31-enterprise-security-plan-4-launch-policy.md
  docs/superpowers/plans/2026-03-31-quality-hardening.md
  docs/superpowers/plans/2026-03-31-test-taxonomy.md
  docs/superpowers/specs/2026-03-27-hermetic-build-backends-design.md
  docs/superpowers/specs/2026-03-30-pspf-security-hardening-design.md
  docs/superpowers/specs/2026-03-31-enterprise-security-design.md
  docs/superpowers/specs/2026-03-31-quality-hardening-design.md
  docs/superpowers/specs/2026-03-31-test-taxonomy-design.md
Due: none

test: speed up pre-commit and cover rust launcher path
  .pre-commit-config.yaml
  src/flavor-rs/src/psp/format_2025/launcher/mod.rs
Due: none

test(security): e2e integration tests for policy hash, key fingerprint, SBOM digest, CLI commands
  src/flavor/psp/format_2025/metadata/assembly.py
  tests/conftest.py
  tests/integration/test_security_e2e.py
  tests/pretaster/configs/test-policy-block.json
  tests/pretaster/scripts/build_policy_blocked_psp.py
  tests/pretaster/scripts/policy_test.py
  tests/pretaster/tests/test-security.sh
Due: unit, integration, security

fix: flavor pack correctly handles raw JSON manifests
  src/flavor/package.py
  src/flavor/packaging/orchestrator.py
Due: unit, integration

test: final coverage sweep, achieve >99% Python coverage
  src/flavor/helpers/binary_loader.py
  src/flavor/psp/format_2025/metadata/assembly.py
  src/flavor/psp/format_2025/validation.py
  tests/test_coverage_gaps_final.py
Due: unit, integration, security

fix(go): harden builder paths and add coverage
  src/flavor-go/pkg/psp/format_2025/builder.go
  src/flavor-go/pkg/psp/format_2025/builder_test.go
  src/flavor-go/pkg/psp/format_2025/builder_windows_test.go
Due: none

refactor(python): env var names in defaults.py + config_field; remove env_vars.py
  src/flavor-go/pkg/psp/format_2025/execution.go
  src/flavor-go/pkg/psp/format_2025/execution_policy.go
  src/flavor-go/pkg/psp/format_2025/execution_policy_test.go
  src/flavor-go/pkg/psp/format_2025/reader_slots.go
  src/flavor-go/pkg/psp/format_2025/reader_slots_test.go
  src/flavor-rs/src/psp/format_2025/launcher/mod.rs
  src/flavor-rs/src/psp/format_2025/policy.rs
  src/flavor/cache.py
  src/flavor/commands/package.py
  src/flavor/config/config.py
  src/flavor/config/defaults.py
  src/flavor/config/dirs.py
  src/flavor/env_vars.py
  src/flavor/packaging/orchestrator.py
  src/flavor/packaging/orchestrator_helpers.py
  src/flavor/packaging/python/slot_builder.py
  src/flavor/packaging/python/uv_manager.py
  src/flavor/psp/format_2025/builder.py
  src/flavor/psp/format_2025/metadata/assembly.py
Due: unit, integration, security

fix(tests): update slot count assertions and remove nonexistent write_json mock
  src/flavor-rs/src/psp/format_2025/defaults.rs
  src/flavor-rs/src/psp/format_2025/trust.rs
  tests/format_2025/test_launcher_execution.py
  tests/format_2025/test_pspf_2025_core.py
  tests/format_2025/test_pspf_2025_security.py
  tests/test_coverage_gaps_batch2.py
Due: none

feat(all): add verify_attestation_policy_hash to Python/Go readers; fix spec
  docs/reference/spec/fep-0004-security-attestation-extension.md
  src/flavor-go/pkg/psp/format_2025/execution.go
  src/flavor-go/pkg/psp/format_2025/execution_policy.go
  src/flavor-go/pkg/psp/format_2025/execution_policy_test.go
  src/flavor-go/pkg/psp/format_2025/metadata.go
  src/flavor-go/pkg/psp/format_2025/policy_hash_verify_test.go
  src/flavor-go/pkg/psp/format_2025/reader_verify.go
  src/flavor-rs/src/psp/format_2025/builder/metadata.rs
  src/flavor-rs/src/psp/format_2025/launcher/mod.rs
  src/flavor-rs/src/psp/format_2025/launcher/workenv.rs
  src/flavor-rs/src/psp/format_2025/metadata.rs
  src/flavor-rs/src/psp/format_2025/policy.rs
  src/flavor-rs/src/psp/format_2025/trust.rs
  src/flavor-rs/src/psp/format_2025/verifier.rs
  src/flavor/psp/format_2025/reader.py
  tests/format_2025/test_policy_hash_reader_verify.py
Due: unit, integration, security

docs: enterprise security design spec (trusted keys, SBOM, launch policy)
  docs/reference/requirements.md
Due: none

fix: go launcher init slot cleanup order and executable resolution
  src/flavor-go/pkg/psp/format_2025/execution.go
  src/flavor-go/pkg/psp/format_2025/execution_resolve.go
  src/flavor/packaging/orchestrator_helpers.py
  tests/packaging/test_orchestrator_helpers_core.py
  tests/packaging/test_orchestrator_helpers_manifests.py
Due: unit, integration

test: 290 coverage-gap tests for packaging, commands, config, helpers
  tests/packaging/python/test_coverage_gaps.py
  tests/test_coverage_gaps_batch2.py
Due: none

fix(windows): harden Windows-only PSPF paths in Go and Rust
  src/flavor-go/internal/workenv/workenv_test.go
  src/flavor-go/pkg/psp/format_2025/diskspace_windows.go
  src/flavor-go/pkg/psp/format_2025/execution_env_test.go
  src/flavor-go/pkg/psp/format_2025/execution_policy_test.go
  src/flavor-go/pkg/psp/format_2025/execution_utils_test.go
  src/flavor-go/pkg/psp/format_2025/reader_slots_additional_test.go
  src/flavor-go/pkg/psp/format_2025/security_helpers_test.go
  src/flavor-rs/src/psp/format_2025/builder/mod.rs
  src/flavor-rs/src/psp/format_2025/execution/commands.rs
  src/flavor-rs/src/psp/format_2025/launcher/command.rs
  src/flavor-rs/src/psp/format_2025/launcher/mod.rs
  src/flavor-rs/src/psp/format_2025/policy.rs
Due: none

fix(go): platform-aware admin check for refuse_root policy enforcement
  src/flavor-go/pkg/psp/format_2025/builder.go
  src/flavor-go/pkg/psp/format_2025/execution_policy.go
  src/flavor-go/pkg/psp/format_2025/privilege_unix.go
  src/flavor-go/pkg/psp/format_2025/privilege_windows.go
  src/flavor-rs/Cargo.toml
  src/flavor-rs/src/psp/format_2025/builder/mod.rs
  src/flavor-rs/src/psp/format_2025/policy.rs
  src/flavor/psp/format_2025/backends.py
  tests/format_2025/test_coverage_gaps.py
  tests/format_2025/test_pspf_2025_backends.py
Due: unit, integration, security

chore: snapshot current workspace state
  .github/workflows/05-code-quality.yml
  AGENTS.md
  Makefile
  README.md
  pyproject.toml
  src/flavor-go/Makefile
  src/flavor-rs/Cargo.toml
  src/flavor-rs/Makefile
  src/flavor-rs/fuzz/Cargo.toml
  src/flavor-rs/fuzz/fuzz_targets/pspf_operations_roundtrip.rs
  src/flavor-rs/fuzz/fuzz_targets/pspf_reader_no_panic.rs
  src/flavor/config/defaults.py
  src/flavor/config/policy.py
  src/flavor/psp/format_2025/launcher.py
  src/flavor/psp/format_2025/workenv.py
  tests/format_2025/test_launcher_security_parity.py
  tests/pretaster/configs/keys/flavor-private.key
  tests/pretaster/configs/keys/flavor-public.key
  tests/test_quality_observability.py
Due: unit, integration, security

docs: add enterprise security reference — policy, trust, SBOM, attestation
  docs/guide/concepts/security.md
  docs/guide/packaging/configuration.md
  docs/guide/packaging/signing.md
  docs/guide/usage/cli.md
Due: none

test: implement cross-language test taxonomy
  .github/workflows/05-code-quality.yml
  AGENTS.md
  Makefile
  README.md
  pyproject.toml
  tests/format_2025/test_hypothesis_invariants.py
  tests/format_2025/test_launcher_security_parity.py
  tests/format_2025/test_workenv_core.py
  tests/parity/test_builder_cli_parity.py
  tests/parity/test_env_var_parity.py
  tests/parity/test_extraction_parity.py
  tests/parity/test_lifecycle_constants.py
  tests/parity/test_platform_parity.py
  tests/parity/test_policy_parity.py
  tests/parity/test_sbom_parity.py
  tests/parity/test_trust_parity.py
  tests/parity/test_verification_parity.py
  tests/security/test_package_integrity.py
  tests/security/test_package_security.py
  tests/security/test_security_core.py
  tests/test_quality_observability.py
  tests/test_test_taxonomy.py
Due: none

Path conditions:
  unit: any of: src/flavor/, but not: tests/, **/*_pb2.py, **/*_pb2.pyi, **/generated/*, **/__pycache__/
  integration: any of: src/flavor/, but not: tests/, **/*_pb2.py, **/*_pb2.pyi, **/generated/*, **/__pycache__/
  security: any of: src/flavor/psp/, src/flavor/crypto/, but not: tests/, **/*_pb2.py, **/*_pb2.pyi, **/generated/*, **/__pycache__/
