Repository provide-io/flavorpack: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, security

fix: replace broken uv pip download with FLAVOR_WHEEL_CACHE pip --no-index strategy
  .github/workflows/03-flavor-pipeline.yml
  src/flavor/packaging/python/uv_manager.py
Due: unit, integration

refactor: extract prewarm-wheel-cache.sh and fix uv run --no-project
  .github/scripts/prewarm-wheel-cache.sh
  .github/workflows/03-flavor-pipeline.yml
  src/flavor/packaging/python/uv_manager.py
Due: unit, integration

feat(ci): Add Windows ARM64 support across all CI pipelines
  .github/scripts/build-pretaster.sh
  .github/scripts/create-pretaster-matrix.sh
  .github/workflows/02-pretaster-pipeline.yml
  .github/workflows/03-flavor-pipeline.yml
  .github/workflows/04-taster-pipeline.yml
  tests/pretaster/KNOWN_ISSUES.md
Due: none

feat: add {bin}, {python}, {python_bin} runtime substitution variables
  src/flavor/psp/format_2025/executor.py
  src/flavor/psp/format_2025/workenv.py
  tests/format_2025/test_bundle_execution.py
  tests/format_2025/test_workenv_commands.py
Due: unit, integration, security

feat(windows): complete Windows ARM64 implementation
  .github/workflows/01-helper-prep.yml
  .github/workflows/03-flavor-pipeline.yml
  .github/workflows/release-pipeline.yml
  COVERAGE_ASSESSMENT.md
  WINDOWS_ARM64_COMPLETION_REPORT.md
  docs/development/CODE_COVERAGE_REGRESSION.md
  docs/development/DEFENSE_IN_DEPTH_FILE_OPS.md
  docs/development/LOCAL_TESTING_WINDOWS_ARM64.md
  docs/development/WINDOWS_ARM64_BUILD.md
  src/flavor-go/coverage.out
  src/flavor-go/pkg/psp/format_2025/builder.go
  src/flavor-go/pkg/psp/format_2025/builder_windows.go
  src/flavor-go/pkg/psp/format_2025/builder_windows_test.go
  tests/pretaster/failure-diagnostics/pretaster-go-go-load-fail.hex
  tools/build_wheel.py
Due: none

feat(windows): complete Windows ARM64 implementation
  .github/workflows/01-helper-prep.yml
  .github/workflows/03-flavor-pipeline.yml
  .github/workflows/release-pipeline.yml
  COVERAGE_ASSESSMENT.md
  WINDOWS_ARM64_COMPLETION_REPORT.md
  docs/development/CODE_COVERAGE_REGRESSION.md
  docs/development/DEFENSE_IN_DEPTH_FILE_OPS.md
  docs/development/LOCAL_TESTING_WINDOWS_ARM64.md
  docs/development/WINDOWS_ARM64_BUILD.md
  src/flavor-go/coverage.out
  src/flavor-go/pkg/psp/format_2025/builder.go
  src/flavor-go/pkg/psp/format_2025/builder_windows.go
  src/flavor-go/pkg/psp/format_2025/builder_windows_test.go
  tools/build_wheel.py
Due: none

fix: pin cryptography<=46.0.3 for windows_arm64 wheel compatibility
  pyproject.toml
  uv.lock
Due: none

fix: force x64 Python for uv tool install on windows_arm64
  .github/scripts/prewarm-wheel-cache.sh
  .github/workflows/03-flavor-pipeline.yml
Due: none

refactor: extract install-flavor-wheel.sh, remove inline YAML scripts
  .github/scripts/install-flavor-wheel.sh
  .github/workflows/03-flavor-pipeline.yml
Due: none

debug: elevate FLAVOR_WHEEL_CACHE logs to warning so they appear on CI
  src/flavor/packaging/python/uv_manager.py
Due: unit, integration

fix: re-zip UV archive-v0 entries into .whl files for offline pip
  .github/scripts/prewarm-wheel-cache.sh
Due: none

fix: install flavorpack natively on arm64, pin cryptography for binary wheel
  .github/scripts/install-flavor-wheel.sh
  .github/workflows/03-flavor-pipeline.yml
Due: none

fix: pass Windows system env vars to pip subprocesses (Winsock DLL fix)
  src/flavor/packaging/python/pypapip_manager.py
  src/flavor/packaging/python/uv_manager.py
Due: unit, integration

fix: pass SYSTEMROOT to uv python install/find subprocesses on Windows
  src/flavor/packaging/python/environment_builder.py
Due: unit, integration

fix: use bin/uv (not Scripts/uv.exe) in Windows PSP setup commands
  src/flavor/packaging/orchestrator_helpers.py
Due: unit, integration

fix: use python.exe at root for Windows cpython-build-standalone in PSP
  .github/workflows/03-flavor-pipeline.yml
  src/flavor/packaging/orchestrator_helpers.py
  src/flavor/packaging/python/environment_builder.py
Due: unit, integration

fix: use python -m pip install on Windows to avoid uv trampoline issue
  src/flavor/packaging/orchestrator_helpers.py
Due: unit, integration

fix: use python.exe -m <module> as runtime command on Windows
  src/flavor/packaging/orchestrator_helpers.py
Due: unit, integration

fix: exclude grpcio on windows_arm64 via override (no binary wheel)
  .github/scripts/install-flavor-wheel.sh
Due: none

fix: exclude grpcio on windows_arm64 via pyproject.toml platform marker
  .github/scripts/install-flavor-wheel.sh
  pyproject.toml
  uv.lock
Due: none

fix: exclude setproctitle on windows_arm64 (no binary wheel)
  pyproject.toml
  uv.lock
Due: none

Path conditions:
  unit: any of: src/flavor/, but not: tests/, **/*_pb2.py, **/*_pb2.pyi, **/generated/*, **/__pycache__/
  integration: any of: src/flavor/, but not: tests/, **/*_pb2.py, **/*_pb2.pyi, **/generated/*, **/__pycache__/
  security: any of: src/flavor/psp/, src/flavor/crypto/, but not: tests/, **/*_pb2.py, **/*_pb2.pyi, **/generated/*, **/__pycache__/
