Repository provide-io/flavorpack: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, security

fix(mypy): ignore missing import for validate_wheel in test_validate_wheel
  pyproject.toml
Due: none

fix(mypy): use inline type: ignore for validate_wheel dynamic sys.path import
  pyproject.toml
  tests/tools/test_validate_wheel.py
Due: none

fix(python): StreamBackend.read_slot() assembles full slot instead of truncating to one chunk
  src/flavor/psp/format_2025/backends.py
  tests/format_2025/test_coverage_gaps.py
Due: unit, integration, security

fix: semver launcher selection; universal-wheel-with-helpers is a hard failure
  src/flavor/psp/format_2025/metadata/assembly.py
  tests/tools/test_validate_wheel.py
  tools/validate_wheel.py
Due: unit, integration, security

chore: remove completed enterprise security, quality, and test taxonomy plans
  docs/superpowers/plans/archive/2026-03-31-enterprise-security-plan-1-foundation.md
  docs/superpowers/plans/archive/2026-03-31-enterprise-security-plan-2-trusted-key-store.md
  docs/superpowers/plans/archive/2026-03-31-enterprise-security-plan-3-sbom-provenance.md
  docs/superpowers/plans/archive/2026-03-31-enterprise-security-plan-4-launch-policy.md
  docs/superpowers/plans/archive/2026-03-31-quality-hardening.md
  docs/superpowers/plans/archive/2026-03-31-test-taxonomy.md
  docs/superpowers/specs/archive/2026-03-31-enterprise-security-design.md
  docs/superpowers/specs/archive/2026-03-31-quality-hardening-design.md
  docs/superpowers/specs/archive/2026-03-31-test-taxonomy-design.md
Due: none

chore: remove completed hermetic build backends and security hardening plans
  docs/superpowers/plans/archive/2026-03-27-hermetic-build-backends.md
  docs/superpowers/plans/archive/2026-03-30-pspf-security-hardening.md
  docs/superpowers/specs/archive/2026-03-27-hermetic-build-backends-design.md
  docs/superpowers/specs/archive/2026-03-30-pspf-security-hardening-design.md
Due: none

ci: suppress git exit-128 noise, fix Go coverage threshold, fix errcheck violations
  .github/workflows/01-helper-prep.yml
  .github/workflows/02-pretaster-pipeline.yml
  .github/workflows/03-flavor-pipeline.yml
  .github/workflows/04-taster-pipeline.yml
  .github/workflows/05-code-quality.yml
  .github/workflows/06-security-scan.yml
  .github/workflows/07-dependency-audit.yml
  .github/workflows/08-license-compliance.yml
  Makefile
  src/flavor-go/Makefile
  src/flavor-go/cmd/flavor-go-builder/main.go
  src/flavor-go/coverage.out
  src/flavor-go/coverage.txt
  src/flavor-go/internal/workenv/validation.go
  src/flavor-go/pkg/psp/format_2025/attestation_verify_test.go
  src/flavor-go/pkg/psp/format_2025/builder.go
  src/flavor-go/pkg/psp/format_2025/builder_test.go
  src/flavor-go/pkg/psp/format_2025/crypto_test.go
  src/flavor-go/pkg/psp/format_2025/execution.go
  src/flavor-go/pkg/psp/format_2025/execution_cache.go
  src/flavor-go/pkg/psp/format_2025/execution_slots.go
  src/flavor-go/pkg/psp/format_2025/execution_utils.go
  src/flavor-go/pkg/psp/format_2025/launcher.go
  src/flavor-go/pkg/psp/format_2025/launcher_execution_test.go
  src/flavor-go/pkg/psp/format_2025/locking.go
  src/flavor-go/pkg/psp/format_2025/policy_hash_verify_test.go
  src/flavor-go/pkg/psp/format_2025/reader_slots.go
  src/flavor-go/pkg/psp/format_2025/reader_slots_additional_test.go
  src/flavor-go/pkg/psp/format_2025/reader_slots_test.go
  src/flavor-go/pkg/psp/format_2025/reader_verify_test.go
Due: none

fix(ci): remove stale agent worktrees from git index; ignore .claude/worktrees
  .gitignore
Due: none

Fix standalone taster pytest lane
  tests/taster/__init__.py
  tests/taster/tests/conftest.py
  tests/taster/tests/test_crosslang.py
  tests/taster/tests/test_verify_json.py
Due: none

ci(license): remove auto PR comment from license compliance check
  .github/workflows/08-license-compliance.yml
Due: none

ci(go): fix gremlins mutation path — drop trailing /... to avoid doubled glob
  .github/workflows/05-code-quality.yml
Due: none

fix: correct 4 Linux-specific test failures and CI heredoc syntax error
  .github/workflows/05-code-quality.yml
  src/flavor/psp/format_2025/backends.py
  tests/integration/test_pretaster_integration.py
  tests/packaging/python/test_pypapip_manager.py
  tests/validation/test_mock_accuracy.py
Due: unit, integration, security

chore: untrack and ignore generated pretaster tar.gz build artifacts
  .gitignore
  tests/pretaster/scripts/orchestrate.tar.gz
  tests/pretaster/slots/init-data.tar.gz
  tests/pretaster/slots/scripts.tar.gz
  tests/pretaster/slots/utilities.tar.gz
Due: none

rust: harden policy parsing and trust enforcement
  src/flavor-rs/Cargo.lock
  src/flavor-rs/Cargo.toml
  src/flavor-rs/src/psp/format_2025/builder/mod.rs
  src/flavor-rs/src/psp/format_2025/launcher/mod.rs
  src/flavor-rs/src/psp/format_2025/policy.rs
  src/flavor-rs/src/psp/format_2025/trust.rs
Due: none

fix: harden policy parsing and trust enforcement
  src/flavor-go/go.mod
  src/flavor-go/go.sum
  src/flavor-go/pkg/psp/format_2025/builder.go
  src/flavor-go/pkg/psp/format_2025/builder_test.go
  src/flavor-go/pkg/psp/format_2025/execution.go
  src/flavor-go/pkg/psp/format_2025/execution_policy.go
  src/flavor-go/pkg/psp/format_2025/execution_policy_test.go
  src/flavor-go/pkg/psp/format_2025/launcher_execution_test.go
  src/flavor-go/pkg/psp/format_2025/security_helpers.go
  src/flavor-go/pkg/psp/format_2025/security_helpers_test.go
  src/flavor/commands/policy.py
  src/flavor/config/policy.py
  src/flavor/psp/format_2025/launcher.py
  tests/cli/test_policy_command.py
  tests/config/test_policy.py
  tests/format_2025/test_launcher_security_parity.py
  tests/tools/test_validate_wheel.py
  tools/validate_wheel.py
Due: unit, integration, security

fix: replace unsafe LockResource pointer cast with pure-Go winres reader
  src/flavor-go/pkg/psp/format_2025/pe_resources.go
Due: none

refactor: centralize os keychain policy enforcement
  src/flavor/commands/policy.py
Due: unit, integration

ci: switch PyPI release to trusted publishing
  .github/workflows/05-code-quality.yml
  .github/workflows/release.yml
  tests/test_quality_observability.py
Due: none

fix: stabilize quality observability and mutation regressions
  .github/workflows/05-code-quality.yml
  pyproject.toml
  scripts/check_version_sync.py
  tests/packaging/python/test_coverage_gaps.py
  tests/parity/test_verification_parity.py
  tests/security/test_path_traversal.py
  tests/test_quality_observability.py
  tests/test_version_sync.py
  tests/tools/test_validate_wheel.py
Due: none

fix: security hardening — policy alignment, file perms, cross-lang parity
  .github/workflows/compatibility-check.yml
  .github/workflows/release.yml
  src/flavor-go/internal/workenv/validation.go
  src/flavor-go/pkg/psp/format_2025/execution_cache.go
  src/flavor-go/pkg/psp/format_2025/execution_slots.go
  src/flavor-go/pkg/psp/format_2025/launcher.go
  src/flavor-go/pkg/psp/format_2025/locking.go
  src/flavor-rs/src/env_vars.rs
  src/flavor-rs/src/psp/format_2025/policy.rs
  src/flavor-rs/src/psp/format_2025/trust.rs
  src/flavor/config/policy.py
  src/flavor/psp/format_2025/launcher.py
  tools/validate_wheel.py
Due: unit, integration, security

Path conditions:
  unit: any of: src/flavor/, but not: tests/, **/*_pb2.py, **/*_pb2.pyi, **/generated/*, **/__pycache__/
  integration: any of: src/flavor/, but not: tests/, **/*_pb2.py, **/*_pb2.pyi, **/generated/*, **/__pycache__/
  security: any of: src/flavor/psp/, src/flavor/crypto/, but not: tests/, **/*_pb2.py, **/*_pb2.pyi, **/generated/*, **/__pycache__/
