Repository provide-io/flavorpack: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, security

fix: correct 4 Linux-specific test failures and CI heredoc syntax error
  .github/workflows/code-quality.yml
  tests/packaging/python/test_pypapip_manager.py
Due: none

ci(go): fix gremlins mutation path — drop trailing /... to avoid doubled glob
  .github/workflows/code-quality.yml
Due: none

rust: harden policy parsing and trust enforcement
  src/flavor-rs/Cargo.lock
  src/flavor-rs/Cargo.toml
  src/flavor-rs/src/psp/format_2025/builder/mod.rs
  src/flavor-rs/src/psp/format_2025/launcher/mod.rs
  src/flavor-rs/src/psp/format_2025/policy.rs
  src/flavor-rs/src/psp/format_2025/trust.rs
Due: none

chore: untrack and ignore generated pretaster tar.gz build artifacts
  tests/pretaster/scripts/orchestrate.tar.gz
  tests/pretaster/slots/init-data.tar.gz
  tests/pretaster/slots/scripts.tar.gz
  tests/pretaster/slots/utilities.tar.gz
Due: none

refactor: centralize os keychain policy enforcement
  src/flavor/commands/policy.py
Due: unit, integration

fix: replace unsafe LockResource pointer cast with pure-Go winres reader
  src/flavor-go/pkg/psp/format_2025/pe_resources.go
Due: none

fix: harden policy parsing and trust enforcement
  src/flavor-go/go.mod
  src/flavor-go/go.sum
  src/flavor-go/pkg/psp/format_2025/builder.go
  src/flavor-go/pkg/psp/format_2025/builder_test.go
  src/flavor-go/pkg/psp/format_2025/execution.go
  src/flavor-go/pkg/psp/format_2025/execution_policy.go
  src/flavor-go/pkg/psp/format_2025/execution_policy_test.go
  src/flavor-go/pkg/psp/format_2025/launcher_execution_test.go
  src/flavor-go/pkg/psp/format_2025/security_helpers.go
  src/flavor-go/pkg/psp/format_2025/security_helpers_test.go
  src/flavor/commands/policy.py
  src/flavor/config/policy.py
  src/flavor/psp/format_2025/launcher.py
  tests/cli/test_policy_command.py
  tests/config/test_policy.py
  tests/format_2025/test_launcher_security_parity.py
  tests/tools/test_validate_wheel.py
  tools/validate_wheel.py
Due: unit, integration, security

fix: clarify slot storage invariant and replace operation magic numbers
  src/flavor-go/pkg/psp/format_2025/slot_processor_test.go
  src/flavor/psp/format_2025/launcher.py
Due: unit, integration, security

test: add mutation-catching tests for enforce_policy, security, and policy merge
  src/flavor-go/pkg/psp/format_2025/execution_policy_test.go
  src/flavor-rs/src/psp/format_2025/policy.rs
  tests/format_2025/test_security_failure_branches.py
Due: none

test(go): raise coverage to 80% by filling critical branch gaps
  src/flavor-go/cmd/flavor-go-builder/main_test.go
  src/flavor-go/internal/workenv/validation_test.go
  src/flavor-go/pkg/logging/logger_test.go
  src/flavor-go/pkg/logging/prefix_writer_test.go
  src/flavor-go/pkg/psp/format_2025/execution_cache_additional_test.go
  src/flavor-go/pkg/psp/format_2025/execution_helpers_additional_test.go
  src/flavor-go/pkg/psp/format_2025/execution_policy_test.go
  src/flavor-go/pkg/psp/format_2025/execution_resolve_test.go
  src/flavor-go/pkg/psp/format_2025/execution_utils_test.go
  src/flavor-go/pkg/psp/format_2025/launcher_execution_test.go
  src/flavor-go/pkg/psp/format_2025/reader_verify_test.go
  src/flavor-go/pkg/psp/format_2025/slot_processor_test.go
  src/flavor-go/pkg/psp/format_2025/trust_test.go
  src/flavor-go/pkg/verification_test.go
Due: none

fix: address fragility hotspots #4, #5, and #8
  tests/format_2025/test_coverage_gaps.py
  tests/format_2025/test_slots.py
Due: none

refactor: derive launcher operation constants from OPERATION_CHAINS
  src/flavor/psp/format_2025/launcher.py
Due: unit, integration, security

Path conditions:
  unit: any of: src/flavor/, but not: tests/, **/*_pb2.py, **/*_pb2.pyi, **/generated/*, **/__pycache__/
  integration: any of: src/flavor/, but not: tests/, **/*_pb2.py, **/*_pb2.pyi, **/generated/*, **/__pycache__/
  security: any of: src/flavor/psp/, src/flavor/crypto/, but not: tests/, **/*_pb2.py, **/*_pb2.pyi, **/generated/*, **/__pycache__/
