Repository provide-io/flavorpack: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, security

chore(ci): update GitHub Actions workflow files for consistency and maintainability
  .github/workflows/01-helper-prep.yml
  .github/workflows/02-pretaster-pipeline.yml
  .github/workflows/03-flavor-pipeline.yml
  .github/workflows/04-taster-pipeline.yml
  .github/workflows/05-code-quality.yml
  .github/workflows/06-security-scan.yml
  .github/workflows/07-dependency-audit.yml
  .github/workflows/08-license-compliance.yml
  .github/workflows/09-cross-platform-validation.yml
  .github/workflows/compatibility-check.yml
  .github/workflows/release-pipeline.yml
Due: none

🔼⚙️ 🌶️ [skip ci] auto-commit
  src/flavor-go/go.mod
Due: none

fix: upgrade Go to 1.24.9 to fix security vulnerabilities
  .github/workflows/01-helper-prep.yml
  .github/workflows/05-code-quality.yml
  .github/workflows/06-security-scan.yml
  .github/workflows/07-dependency-audit.yml
  .github/workflows/08-license-compliance.yml
  .github/workflows/compatibility-check.yml
Due: none

refactor: use repository variable for Go version
  .github/workflows/01-helper-prep.yml
  .github/workflows/05-code-quality.yml
  .github/workflows/06-security-scan.yml
  .github/workflows/07-dependency-audit.yml
  .github/workflows/08-license-compliance.yml
  .github/workflows/compatibility-check.yml
Due: none

fix: use semgrep GitHub Action instead of pip install
  .github/workflows/06-security-scan.yml
Due: none

fix: add RUSTFLAGS for static linking in compatibility check
  .github/workflows/compatibility-check.yml
Due: none

fix: test launchers with CLI mode instead of --version in compatibility check
  .github/workflows/compatibility-check.yml
Due: none

perf: guard f-string debug() calls with is_debug_enabled()
  src/flavor/helpers/binary_loader.py
  src/flavor/helpers/manager.py
  src/flavor/package.py
  src/flavor/packaging/keys.py
  src/flavor/packaging/orchestrator.py
  src/flavor/packaging/orchestrator_helpers.py
  src/flavor/packaging/python/dependency_resolver.py
  src/flavor/packaging/python/dist_manager.py
  src/flavor/packaging/python/packager.py
  src/flavor/packaging/python/pypapip_manager.py
  src/flavor/packaging/python/slot_builder.py
  src/flavor/packaging/python/uv_manager.py
  src/flavor/packaging/python/wheel_builder.py
  src/flavor/psp/format_2025/builder.py
  src/flavor/psp/format_2025/environment.py
  src/flavor/psp/format_2025/executor.py
  src/flavor/psp/format_2025/extraction.py
  src/flavor/psp/format_2025/keys.py
  src/flavor/psp/format_2025/launcher.py
  src/flavor/psp/format_2025/metadata/assembly.py
  src/flavor/psp/format_2025/pe_utils/directories.py
  src/flavor/psp/format_2025/pe_utils/sections.py
  src/flavor/psp/format_2025/spec.py
  src/flavor/psp/format_2025/validation.py
  src/flavor/psp/format_2025/workenv.py
  src/flavor/psp/format_2025/writer.py
  src/flavor/psp/metadata/paths.py
  src/flavor/psp/security.py
  src/flavor/utils/xor.py
Due: unit, integration, security

perf: guard f-string trace() calls with is_trace_enabled()
  src/flavor/cache.py
  src/flavor/packaging/python/dependency_resolver.py
  src/flavor/packaging/python/environment_builder.py
  src/flavor/packaging/python/packager.py
  src/flavor/packaging/python/pypapip_manager.py
  src/flavor/packaging/python/slot_builder.py
  src/flavor/psp/format_2025/environment.py
  src/flavor/psp/format_2025/executor.py
Due: unit, integration, security

chore: exclude pretaster logs and coverage.json from git
  .gitignore
Due: none

fix: patch GlobalLoggerProxy with is_debug_enabled/is_trace_enabled
  src/flavor/__init__.py
  src/flavor/utils/log_guards.py
Due: unit, integration

fix: mutmut tests_dir must be a list, add memray mark
  pyproject.toml
  uv.lock
  wrknv.toml
Due: none

Path conditions:
  unit: any of: src/flavor/, but not: tests/, **/*_pb2.py, **/*_pb2.pyi, **/generated/*, **/__pycache__/
  integration: any of: src/flavor/, but not: tests/, **/*_pb2.py, **/*_pb2.pyi, **/generated/*, **/__pycache__/
  security: any of: src/flavor/psp/, src/flavor/crypto/, but not: tests/, **/*_pb2.py, **/*_pb2.pyi, **/generated/*, **/__pycache__/
