Repository provide-io/flavorpack: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, security

feat(config): add get_config_dir() with XDG and env-var resolution
  src/flavor/config/dirs.py
  tests/config/test_dirs.py
Due: unit, integration

fix(config): add future annotations import and fix import ordering in dirs.py
  src/flavor/config/dirs.py
Due: unit, integration

feat(format): add LifecycleAttestation=11 across Python, Go, Rust
  src/flavor-go/pkg/psp/format_2025/constants.go
  src/flavor-rs/src/psp/format_2025/constants.rs
  src/flavor/psp/format_2025/constants.py
  src/flavor/psp/format_2025/slots.py
  tests/parity/test_lifecycle_constants.py
Due: unit, integration, security

feat(format): add attestation fields to PSPFIndex carved from reserved space
  src/flavor/psp/format_2025/index.py
  tests/format_2025/test_attestation_index.py
Due: unit, integration, security

feat(go): add GetConfigRoot/GetSystemConfigRoot; fix run-tests.sh bash array safety
  .github/scripts/run-tests.sh
  src/flavor-go/internal/workenv/workenv.go
Due: none

feat(cli): add flavor init [--global] command
  src/flavor/cli.py
  src/flavor/commands/init.py
  tests/cli/test_init_command.py
Due: unit, integration

spec: add FEP-0003 security attestation extension (lifecycle=11, trusted keys, SBOM, policy)
  docs/reference/spec/fep-0003-security-attestation-extension.md
Due: none

spec(fep-0003): align constant and field names with implementation
  docs/reference/spec/fep-0003-security-attestation-extension.md
Due: none

fix(init): add SPDX header, export from __init__, fix hint messages
  src/flavor/commands/__init__.py
  src/flavor/commands/init.py
  tests/cli/test_init_command.py
Due: unit, integration

spec(fep-0003): fix critical ambiguities and RFC 2119 misuse
  docs/reference/spec/fep-0003-security-attestation-extension.md
Due: none

spec: rename to FEP-0004, fix cross-references and prefix convention
  docs/reference/spec/fep-0004-security-attestation-extension.md
Due: none

feat(trust): add trusted key store loader and fingerprint computation
  src/flavor/config/trust.py
  tests/config/test_trust.py
Due: unit, integration

feat(builder): write key fingerprint into index attestation field
  src/flavor/psp/format_2025/builder.py
  tests/format_2025/test_key_fingerprint_in_index.py
Due: unit, integration, security

fix(trust): remove deprecated default_backend usage
  tests/config/test_trust.py
Due: none

fix(builder): add future annotations, remove inline imports
  src/flavor/psp/format_2025/builder.py
  tests/format_2025/test_key_fingerprint_in_index.py
Due: unit, integration, security

feat(cli): add flavor trust add/list/remove/verify subcommands
  src/flavor/cli.py
  src/flavor/commands/__init__.py
  src/flavor/commands/trust.py
  tests/cli/test_trust_command.py
Due: unit, integration

fix(trust): scoped remove --global to system store, fix inline imports
  src/flavor/commands/trust.py
  tests/cli/test_trust_command.py
Due: unit, integration

feat(go): add trusted key store verification and update index attestation fields
  src/flavor-go/pkg/psp/format_2025/execution.go
  src/flavor-go/pkg/psp/format_2025/index.go
  src/flavor-go/pkg/psp/format_2025/trust.go
  src/flavor-go/pkg/psp/format_2025/trust_test.go
Due: none

fix(go/trust): log warnings for unparsable .pub key files
  src/flavor-go/pkg/psp/format_2025/trust.go
Due: none

feat(rust): add trusted key store verification and update index attestation fields
  src/flavor-rs/src/psp/format_2025/index.rs
  src/flavor-rs/src/psp/format_2025/launcher/mod.rs
  src/flavor-rs/src/psp/format_2025/mod.rs
  src/flavor-rs/src/psp/format_2025/trust.rs
Due: none

Path conditions:
  unit: any of: src/flavor/, but not: tests/, **/*_pb2.py, **/*_pb2.pyi, **/generated/*, **/__pycache__/
  integration: any of: src/flavor/, but not: tests/, **/*_pb2.py, **/*_pb2.pyi, **/generated/*, **/__pycache__/
  security: any of: src/flavor/psp/, src/flavor/crypto/, but not: tests/, **/*_pb2.py, **/*_pb2.pyi, **/generated/*, **/__pycache__/
