Repository provide-io/flavorpack: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, security

feat(policy): add policy schema, parsing, and merge logic
  src/flavor/config/policy.py
  tests/config/test_policy.py
Due: unit, integration

test(rust): add test for digest-present-no-slot in verifier
  src/flavor-rs/src/psp/format_2025/verifier.rs
Due: none

feat(builder): write policy_hash into index attestation field
  src/flavor/psp/format_2025/builder.py
Due: unit, integration, security

feat(cli): add flavor policy show/check/init subcommands
  src/flavor/cli.py
  src/flavor/commands/policy.py
  tests/cli/test_policy_command.py
Due: unit, integration

test(parity): add policy enforcement parity tests
  tests/parity/test_policy_parity.py
Due: none

feat(rust): add policy enforcement at launch time
  src/flavor-rs/src/psp/format_2025/launcher/mod.rs
  src/flavor-rs/src/psp/format_2025/policy.rs
Due: none

feat(go): add policy enforcement at launch time
  src/flavor-go/pkg/psp/format_2025/execution.go
  src/flavor-go/pkg/psp/format_2025/execution_policy.go
  src/flavor-go/pkg/psp/format_2025/execution_policy_test.go
  src/flavor-go/pkg/psp/format_2025/metadata.go
Due: none

feat(all): add verify_attestation_policy_hash to Python/Go readers; fix spec
  docs/reference/spec/fep-0004-security-attestation-extension.md
  src/flavor-go/pkg/psp/format_2025/execution.go
  src/flavor-go/pkg/psp/format_2025/policy_hash_verify_test.go
  src/flavor-go/pkg/psp/format_2025/reader_verify.go
  src/flavor-rs/src/psp/format_2025/launcher/mod.rs
  src/flavor-rs/src/psp/format_2025/launcher/workenv.rs
  src/flavor-rs/src/psp/format_2025/policy.rs
  src/flavor-rs/src/psp/format_2025/verifier.rs
Due: none

fix(go): canonical JSON policy hash, inline TOML comments, allow_platforms
  src/flavor-go/pkg/psp/format_2025/execution_policy.go
  src/flavor-go/pkg/psp/format_2025/execution_policy_test.go
  src/flavor-go/pkg/psp/format_2025/metadata.go
  src/flavor-go/pkg/psp/format_2025/policy_hash_verify_test.go
  src/flavor-go/pkg/psp/format_2025/reader_verify.go
Due: none

fix(go): platform-aware admin check for refuse_root policy enforcement
  src/flavor-go/pkg/psp/format_2025/execution_policy.go
  src/flavor-go/pkg/psp/format_2025/privilege_unix.go
Due: none

test: 100% coverage for format_2025 core files
  tests/format_2025/test_pspf_2025_backends.py
Due: none

fix(rust): TOML inline comments, allow_platforms, OID validation in trust
  src/flavor-rs/src/psp/format_2025/policy.rs
  src/flavor-rs/src/psp/format_2025/trust.rs
Due: none

Path conditions:
  unit: any of: src/flavor/, but not: tests/, **/*_pb2.py, **/*_pb2.pyi, **/generated/*, **/__pycache__/
  integration: any of: src/flavor/, but not: tests/, **/*_pb2.py, **/*_pb2.pyi, **/generated/*, **/__pycache__/
  security: any of: src/flavor/psp/, src/flavor/crypto/, but not: tests/, **/*_pb2.py, **/*_pb2.pyi, **/generated/*, **/__pycache__/
