Repository provide-io/flavorpack: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, security

feat(trust): add trusted key store loader and fingerprint computation
  src/flavor/config/trust.py
  tests/config/test_trust.py
Due: unit, integration

feat(builder): write key fingerprint into index attestation field
  src/flavor/psp/format_2025/builder.py
  tests/format_2025/test_key_fingerprint_in_index.py
Due: unit, integration, security

feat(cli): add flavor trust add/list/remove/verify subcommands
  src/flavor/cli.py
  src/flavor/commands/trust.py
  tests/cli/test_trust_command.py
Due: unit, integration

fix(trust): remove deprecated default_backend usage
  tests/config/test_trust.py
Due: none

fix(builder): add future annotations, remove inline imports
  src/flavor/psp/format_2025/builder.py
  tests/format_2025/test_key_fingerprint_in_index.py
Due: unit, integration, security

fix(trust): scoped remove --global to system store, fix inline imports
  src/flavor/commands/trust.py
  tests/cli/test_trust_command.py
Due: unit, integration

feat(go): add trusted key store verification and update index attestation fields
  src/flavor-go/pkg/psp/format_2025/execution.go
  src/flavor-go/pkg/psp/format_2025/trust.go
  src/flavor-go/pkg/psp/format_2025/trust_test.go
Due: none

fix(go/trust): log warnings for unparsable .pub key files
  src/flavor-go/pkg/psp/format_2025/trust.go
Due: none

test(parity): add trust store parity tests
  tests/parity/test_trust_parity.py
Due: none

feat(rust): add trusted key store verification and update index attestation fields
  src/flavor-rs/src/psp/format_2025/launcher/mod.rs
  src/flavor-rs/src/psp/format_2025/trust.rs
Due: none

feat(sbom): add CycloneDX 1.6 SBOM generation
  src/flavor/psp/format_2025/sbom.py
  tests/format_2025/test_sbom.py
Due: unit, integration, security

fix(rust/trust): use trust::compute_key_fingerprint in launcher
  src/flavor-rs/src/psp/format_2025/launcher/mod.rs
Due: none

Path conditions:
  unit: any of: src/flavor/, but not: tests/, **/*_pb2.py, **/*_pb2.pyi, **/generated/*, **/__pycache__/
  integration: any of: src/flavor/, but not: tests/, **/*_pb2.py, **/*_pb2.pyi, **/generated/*, **/__pycache__/
  security: any of: src/flavor/psp/, src/flavor/crypto/, but not: tests/, **/*_pb2.py, **/*_pb2.pyi, **/generated/*, **/__pycache__/
