Repository provide-io/flavorpack: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, security

.codecov.yml:

# Codecov configuration for flavorpack
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 1%

  precision: 2
  round: down
  range: "70...100"

ignore:
  - "tests/"
  - "**/*_pb2.py"
  - "**/*_pb2.pyi"
  - "**/generated/*"
  - "**/__pycache__/"

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false

flags:
  unit:
    paths:
      - src/flavor/
  integration:
    paths:
      - src/flavor/
  security:
    paths:
      - src/flavor/psp/
      - src/flavor/crypto/

feat(go): verify attestation SBOM digest at launch
  src/flavor-go/pkg/psp/format_2025/attestation_verify_test.go
  src/flavor-go/pkg/psp/format_2025/reader_verify.go
Due: none

feat(rust): verify attestation SBOM digest at launch
  src/flavor-rs/src/psp/format_2025/verifier.rs
Due: none

feat(inspect): add --sbom and --provenance flags to flavor inspect
  src/flavor/commands/inspect.py
  tests/cli/test_inspect_sbom.py
Due: unit, integration

fix(go): wire attestation SBOM digest verification into execution flow
  src/flavor-go/pkg/psp/format_2025/execution.go
Due: none

test(rust): add test for digest-present-no-slot in verifier
  src/flavor-rs/src/psp/format_2025/verifier.rs
Due: none

test(parity): add SBOM and attestation digest parity tests
  tests/parity/test_sbom_parity.py
Due: none

fix(test): update slot count expectation after attestation slot addition
  tests/test_extract_command.py
Due: none

feat(policy): add policy schema, parsing, and merge logic
  pyproject.toml
  src/flavor/config/policy.py
  tests/config/test_policy.py
Due: unit, integration

feat(cli): add flavor policy show/check/init subcommands
  src/flavor/cli.py
  src/flavor/commands/policy.py
  tests/cli/test_policy_command.py
Due: unit, integration

feat: Enterprise security foundation, 99%+ Python coverage, Windows admin check
  .github/scripts/get-release-runs.sh
  .github/workflows/01-helper-prep.yml
  .github/workflows/03-flavor-pipeline.yml
  .github/workflows/04-taster-pipeline.yml
  .github/workflows/05-code-quality.yml
  .github/workflows/06-security-scan.yml
  .github/workflows/07-dependency-audit.yml
  .github/workflows/08-license-compliance.yml
  .github/workflows/compatibility-check.yml
  .github/workflows/release-pipeline.yml
  CLAUDE.md
  README.md
  pyproject.toml
  src/flavor-go/pkg/psp/format_2025/defaults.go
  src/flavor-go/pkg/psp/format_2025/execution.go
  src/flavor-go/pkg/psp/format_2025/execution_env.go
  src/flavor-go/pkg/psp/format_2025/launcher.go
  src/flavor-go/pkg/psp/format_2025/reader_slots.go
  src/flavor-rs/src/psp/format_2025/execution/commands.rs
  src/flavor-rs/src/psp/format_2025/extraction.rs
  src/flavor-rs/src/psp/format_2025/launcher/command.rs
  src/flavor-rs/src/psp/format_2025/locking.rs
  src/flavor/locking.py
  src/flavor/output.py
  src/flavor/packaging/python/dependency_resolver.py
  src/flavor/packaging/python/environment_builder.py
  src/flavor/packaging/python/slot_builder.py
  src/flavor/packaging/python/uv_manager.py
  src/flavor/packaging/python/wheel_builder.py
  src/flavor/psp/format_2025/workenv.py
  src/flavor/psp/metadata/paths.py
  src/flavor/utils/log_guards.py
  tests/conftest.py
Due: unit, integration, security

feat(builder): write policy_hash into index attestation field
  src/flavor/psp/format_2025/builder.py
  tests/format_2025/test_policy_hash_in_index.py
  tests/test_inspect_command.py
Due: unit, integration, security

feat(go): add policy enforcement at launch time
  src/flavor-go/pkg/psp/format_2025/execution.go
  src/flavor-go/pkg/psp/format_2025/execution_policy.go
  src/flavor-go/pkg/psp/format_2025/execution_policy_test.go
  src/flavor-go/pkg/psp/format_2025/metadata.go
Due: none

feat(rust): add policy enforcement at launch time
  src/flavor-rs/src/psp/format_2025/launcher/mod.rs
  src/flavor-rs/src/psp/format_2025/mod.rs
  src/flavor-rs/src/psp/format_2025/policy.rs
Due: none

test(parity): add policy enforcement parity tests
  tests/parity/test_policy_parity.py
Due: none

feat(all): add verify_attestation_policy_hash to Python/Go readers; fix spec
  docs/reference/spec/fep-0004-security-attestation-extension.md
  src/flavor-go/pkg/psp/format_2025/execution.go
  src/flavor-go/pkg/psp/format_2025/policy_hash_verify_test.go
  src/flavor-go/pkg/psp/format_2025/reader_verify.go
  src/flavor-rs/src/psp/format_2025/builder/metadata.rs
  src/flavor-rs/src/psp/format_2025/launcher/mod.rs
  src/flavor-rs/src/psp/format_2025/launcher/workenv.rs
  src/flavor-rs/src/psp/format_2025/metadata.rs
  src/flavor-rs/src/psp/format_2025/policy.rs
  src/flavor-rs/src/psp/format_2025/verifier.rs
  src/flavor/psp/format_2025/reader.py
  tests/format_2025/test_policy_hash_reader_verify.py
Due: unit, integration, security

fix(go): canonical JSON policy hash, inline TOML comments, allow_platforms
  src/flavor-go/pkg/psp/format_2025/execution_policy.go
  src/flavor-go/pkg/psp/format_2025/execution_policy_test.go
  src/flavor-go/pkg/psp/format_2025/metadata.go
  src/flavor-go/pkg/psp/format_2025/policy_hash_verify_test.go
  src/flavor-go/pkg/psp/format_2025/reader_verify.go
Due: none

fix(rust): TOML inline comments, allow_platforms, OID validation in trust
  src/flavor-rs/src/psp/format_2025/policy.rs
  src/flavor-rs/src/psp/format_2025/trust.rs
Due: none

fix(go): platform-aware admin check for refuse_root policy enforcement
  src/flavor-go/pkg/psp/format_2025/execution_policy.go
  src/flavor-go/pkg/psp/format_2025/privilege_unix.go
  src/flavor-go/pkg/psp/format_2025/privilege_windows.go
Due: none

test: 100% coverage for format_2025 core files
  src/flavor/psp/format_2025/backends.py
  tests/format_2025/test_pspf_2025_backends.py
Due: unit, integration, security

fix: implement Windows admin check in Rust, remove TODO stubs
  src/flavor-go/pkg/psp/format_2025/builder.go
  src/flavor-rs/Cargo.toml
  src/flavor-rs/src/psp/format_2025/builder/mod.rs
  src/flavor-rs/src/psp/format_2025/policy.rs
Due: none
