Repository provide-io/flavorpack: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, security

.codecov.yml:

# Codecov configuration for flavorpack
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 1%

  precision: 2
  round: down
  range: "70...100"

ignore:
  - "tests/"
  - "**/*_pb2.py"
  - "**/*_pb2.pyi"
  - "**/generated/*"
  - "**/__pycache__/"

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false

flags:
  unit:
    paths:
      - src/flavor/
  integration:
    paths:
      - src/flavor/
  security:
    paths:
      - src/flavor/psp/
      - src/flavor/crypto/

test: add coverage tests for cache, workenv CLI, launcher, log_guards, package parsing
  tests/cache/test_cache_error_paths.py
  tests/cli/test_workenv_cli.py
  tests/format_2025/test_launcher_coverage.py
  tests/test_package_parsing.py
  tests/utils/test_log_guards_coverage.py
Due: none

ci: upgrade astral-sh/setup-uv from v6 to v7 in 03-flavor-pipeline
  .github/workflows/03-flavor-pipeline.yml
Due: none

fix(test): update test_valid_lifecycles to use 'temporary' and add 'platform'
  tests/format_2025/test_slots.py
Due: none

fix: complete temp→temporary lifecycle rename, fix map guard, loosen checksum verification
  src/flavor-go/go.mod
  src/flavor-go/go.sum
  src/flavor-go/pkg/psp/format_2025/runtime.go
  src/flavor-go/pkg/psp/format_2025/slot_processor.go
  src/flavor-rs/Cargo.lock
  src/flavor-rs/src/psp/format_2025/builder/slot_processor.rs
  src/flavor-rs/src/psp/format_2025/reader.rs
  src/flavor/psp/format_2025/validation.py
  src/flavor/psp/format_2025/workenv.py
  tests/conftest.py
  tests/format_2025/test_launcher_execution.py
  tests/format_2025/test_pspf_2025_slots_lifecycle.py
  tests/format_2025/test_workenv_core.py
Due: unit, integration, security

ci: fix artifact warnings in 03-flavor-pipeline
  .github/workflows/03-flavor-pipeline.yml
Due: none

fix: resolve all Go linter warnings from code quality pipeline
  src/flavor-go/cmd/flavor-go-launcher/main.go
  src/flavor-go/pkg/psp/format_2025/builder.go
  src/flavor-go/pkg/psp/format_2025/builder_helpers.go
  src/flavor-go/pkg/psp/format_2025/crypto.go
  src/flavor-go/pkg/psp/format_2025/execution_setup.go
  src/flavor-go/pkg/psp/format_2025/execution_spawn.go
  src/flavor-go/pkg/psp/format_2025/launcher.go
  src/flavor-go/pkg/psp/format_2025/locking.go
  src/flavor-go/pkg/psp/format_2025/operations_test.go
  src/flavor-go/pkg/psp/format_2025/paths.go
  src/flavor-go/pkg/psp/format_2025/slots_test.go
  src/flavor-go/pkg/utils/xor.go
Due: none

refactor: make FlavorConfigManager a lazy singleton
  src/flavor/config/manager.py
Due: unit, integration

fix: mutmut compatibility — hypothesis health check and test assertion
  tests/conftest.py
  tests/helpers/test_helper_manager.py
Due: none

fix: enable parallel coverage for xdist compatibility (parallel=true)
  pyproject.toml
Due: none

chore: add *-bf.txt pattern to gitignore for bfiles bundles
  .gitignore
Due: none

fix(tests): Windows compatibility - UTF-8 encoding and taster exclusion
  pyproject.toml
  tests/conftest.py
Due: none

fix(tests): use contextlib.suppress to satisfy ruff SIM105
  tests/conftest.py
Due: none

fix: cross-language accuracy fixes — lifecycle enum, op chain, slot metadata, spec doc
  docs/reference/spec/SLOT_DESCRIPTOR_SPECIFICATION.md
  src/flavor-go/cmd/flavor-go-launcher/main.go
  src/flavor-go/pkg/psp/format_2025/index.go
  src/flavor-go/pkg/psp/format_2025/launcher.go
  src/flavor-go/pkg/psp/format_2025/launcher_validation.go
  src/flavor-go/pkg/psp/format_2025/metadata.go
  src/flavor-go/pkg/psp/format_2025/runtime.go
  src/flavor-rs/src/psp/format_2025/index.rs
  src/flavor-rs/src/psp/format_2025/operations.rs
  src/flavor-rs/src/psp/format_2025/slots.rs
  src/flavor/psp/format_2025/slots.py
Due: unit, integration, security

test: add coverage for cache, workenv CLI, launcher, log_guards, and package parsing paths
  .github/workflows/03-flavor-pipeline.yml
  src/flavor-go/pkg/psp/format_2025/runtime.go
  src/flavor-go/pkg/psp/format_2025/slot_processor.go
  src/flavor-rs/src/psp/format_2025/builder/slot_processor.rs
  src/flavor-rs/src/psp/format_2025/reader.rs
  src/flavor/psp/format_2025/validation.py
  src/flavor/psp/format_2025/workenv.py
  tests/cache/test_cache_error_paths.py
  tests/cli/test_workenv_cli.py
  tests/conftest.py
  tests/format_2025/test_launcher_coverage.py
  tests/format_2025/test_launcher_execution.py
  tests/format_2025/test_pspf_2025_slots_lifecycle.py
  tests/format_2025/test_slots.py
  tests/format_2025/test_workenv_core.py
  tests/test_package_parsing.py
  tests/utils/test_log_guards_coverage.py
Due: unit, integration, security
