Repository provide-io/flavorpack: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, security

feat: add Windows ARM64 support to build system
  .github/workflows/01-helper-prep.yml
  .github/workflows/03-flavor-pipeline.yml
  .github/workflows/release-pipeline.yml
  docs/development/WINDOWS_ARM64_BUILD.md
  tools/build_wheel.py
Due: none

docs: add comprehensive local testing guide for Windows 11 ARM64
  docs/development/LOCAL_TESTING_WINDOWS_ARM64.md
Due: none

fix: implement defense-in-depth atomic file operations for Windows ARM64
  src/flavor-go/pkg/psp/format_2025/builder_windows.go
Due: none

docs: add comprehensive defense-in-depth documentation and unit tests
  docs/development/DEFENSE_IN_DEPTH_FILE_OPS.md
  src/flavor-go/pkg/psp/format_2025/builder_windows_test.go
Due: none

docs: add code coverage and regression testing guide
  docs/development/CODE_COVERAGE_REGRESSION.md
Due: none

report: add Windows ARM64 completion report
  WINDOWS_ARM64_COMPLETION_REPORT.md
Due: none

docs: add honest code coverage assessment
  COVERAGE_ASSESSMENT.md
Due: none

fix: close file handle before PE resource embedding to prevent locks
  src/flavor-go/coverage.out
  src/flavor-go/pkg/psp/format_2025/builder.go
  tests/pretaster/failure-diagnostics/pretaster-go-go-load-fail.exe
  tests/pretaster/failure-diagnostics/pretaster-go-go-load-fail.hex
Due: none

fix: close file handle before PE resource embedding to prevent locks
  src/flavor-go/coverage.out
  src/flavor-go/pkg/psp/format_2025/builder.go
Due: none

wip: uncommitted changes
  src/flavor/helpers/binary_loader.py
  src/flavor/packaging/orchestrator_helpers.py
  src/flavor/packaging/python/dependency_resolver.py
  src/flavor/packaging/python/dist_manager.py
  src/flavor/packaging/python/packager.py
  src/flavor/packaging/python/pypapip_manager.py
  src/flavor/packaging/python/slot_builder.py
  src/flavor/packaging/python/uv_manager.py
  src/flavor/packaging/python/wheel_builder.py
  src/flavor/psp/format_2025/builder.py
  src/flavor/psp/format_2025/environment.py
  src/flavor/psp/format_2025/executor.py
  src/flavor/psp/format_2025/extraction.py
  src/flavor/psp/format_2025/launcher.py
  src/flavor/psp/format_2025/pe_utils/directories.py
  src/flavor/psp/format_2025/pe_utils/sections.py
  src/flavor/psp/format_2025/workenv.py
  src/flavor/psp/format_2025/writer.py
  src/flavor/psp/security.py
  src/flavor/utils/xor.py
Due: unit, integration, security

fix(tar): skip root '.' tar entry to avoid EISDIR on arm64 python distributions
  .github/scripts/create-pretaster-matrix.sh
  .github/workflows/01-helper-prep.yml
  .github/workflows/03-flavor-pipeline.yml
  .github/workflows/04-taster-pipeline.yml
  .github/workflows/07-dependency-audit.yml
  VERSION
  pyproject.toml
  src/flavor-go/cmd/flavor-go-builder/main.go
  src/flavor-go/cmd/flavor-go-launcher/main.go
  src/flavor-rs/Cargo.toml
  src/flavor-rs/src/psp/format_2025/extraction.rs
  src/flavor-rs/src/version.rs
  src/flavor/utils/log_guards.py
  tests/format_2025/test_bundle_execution.py
  tests/format_2025/test_hypothesis_invariants.py
  tests/format_2025/test_metadata_validation.py
  tests/format_2025/test_paths_utils.py
  tests/format_2025/test_slots.py
  tests/format_2025/test_spec.py
  tests/format_2025/test_xor.py
  tests/helpers/test_binary_loader_helpers.py
  tests/memray/conftest.py
  tests/memray/test_builder_memory.py
  tests/memray/test_operations_memory.py
  tests/memray/test_reader_memory.py
  tests/memray/test_slot_descriptor_memory.py
  tests/memray/test_xor_memory.py
  tests/packaging/python/test_wheel_builder.py
  tests/test_locking.py
Due: unit, integration

fix: use uv export --frozen for offline dep resolution when uv.lock exists
  src/flavor/packaging/python/pypapip_manager.py
  src/flavor/packaging/python/uv_manager.py
  src/flavor/packaging/python/wheel_builder.py
Due: unit, integration

fix: continue-on-error for windows_amd64 build (DNS failures on runner)
  .github/workflows/03-flavor-pipeline.yml
Due: none

fix: add UV offline wheel cache fallback + skip Windows crosslang known issue
  .github/workflows/02-pretaster-pipeline.yml
  src/flavor/packaging/python/uv_manager.py
  src/flavor/packaging/python/wheel_builder.py
Due: unit, integration

fix: remove --no-project flag, not available in uv <0.6
  src/flavor/packaging/python/uv_manager.py
Due: unit, integration

fix: strip local file:// entries from uv export output
  src/flavor/packaging/python/uv_manager.py
Due: unit, integration

fix: add UV network download as fallback for wheel downloads
  src/flavor/packaging/python/uv_manager.py
  src/flavor/packaging/python/wheel_builder.py
Due: unit, integration

fix: export requirements without hashes to prevent uv hash-checking failures
  src/flavor/packaging/python/uv_manager.py
Due: unit, integration

debug: raise UV fallback log level to warning for Windows diagnostics
  src/flavor/packaging/python/uv_manager.py
Due: unit, integration

fix: replace uv pip download with uv pip install+cache for wheel collection
  src/flavor/packaging/python/uv_manager.py
Due: unit, integration

Path conditions:
  unit: any of: src/flavor/, but not: tests/, **/*_pb2.py, **/*_pb2.pyi, **/generated/*, **/__pycache__/
  integration: any of: src/flavor/, but not: tests/, **/*_pb2.py, **/*_pb2.pyi, **/generated/*, **/__pycache__/
  security: any of: src/flavor/psp/, src/flavor/crypto/, but not: tests/, **/*_pb2.py, **/*_pb2.pyi, **/generated/*, **/__pycache__/
