Repository provide-io/flavorpack: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, security

fix: guard is_trace_enabled; require helpers for echo test
  src/flavor/psp/format_2025/environment.py
  tests/integration/test_pretaster_integration.py
Due: unit, integration, security

fix: make all Python tests pass on Windows ARM64
  Makefile
  pyproject.toml
  src/flavor-go/pkg/psp/format_2025/builder_windows_test.go
  src/flavor/packaging/orchestrator.py
  src/flavor/packaging/orchestrator_helpers.py
  src/flavor/packaging/python/dist_manager.py
  src/flavor/packaging/python/pypapip_manager.py
  src/flavor/packaging/python/uv_manager.py
  src/flavor/packaging/python/wheel_builder.py
  src/flavor/psp/format_2025/backends.py
  src/flavor/psp/format_2025/environment.py
  src/flavor/psp/format_2025/reader.py
  src/flavor/psp/format_2025/workenv.py
  src/flavor/psp/metadata/paths.py
  tests/cli/test_helpers_ops.py
  tests/conftest.py
  tests/format_2025/test_bundle_execution.py
  tests/format_2025/test_keys_resolution.py
  tests/format_2025/test_operation_chains.py
  tests/format_2025/test_platform_placeholders.py
  tests/format_2025/test_pspf_builder_integration.py
  tests/format_2025/test_slots.py
  tests/format_2025/test_workenv_commands.py
  tests/format_2025/test_workenv_directories.py
  tests/helpers/test_binary_loader_extra.py
  tests/helpers/test_helper_manager.py
  tests/mmap/test_mmap_edge_cases.py
  tests/mmap/test_mmap_performance_core.py
  tests/mmap/test_mmap_performance_resources.py
  tests/packaging/python/test_dist_manager.py
  tests/packaging/python/test_pypapip_manager.py
  tests/packaging/python/test_slot_builder_core.py
  tests/packaging/python/test_wheel_builder.py
  tests/packaging/test_keys.py
  tests/packaging/test_orchestrator_helpers_manifests.py
  tests/security/test_package_security.py
  uv.lock
Due: unit, integration, security

fix: PE resource embedding — FindResource arg, offset rebasing, lifecycle cleanup
  src/flavor-go/pkg/psp/format_2025/builder.go
  src/flavor-go/pkg/psp/format_2025/execution.go
  src/flavor-go/pkg/psp/format_2025/pe_resources.go
  src/flavor-rs/src/psp/format_2025/pe_resources.rs
Due: none

fix: request native ARM64 Python on Windows ARM64 via uv explicit spec
  src/flavor/packaging/python/environment_builder.py
Due: unit, integration

fix: pin cryptography>=46.0.0,<=46.0.3 and cffi>=2.0.0 for win_arm64 wheels
  pyproject.toml
  uv.lock
Due: none

fix: combo test works on Windows — bash port of combo_test.py
  tests/pretaster/configs/test-combination-windows.json
  tests/pretaster/configs/test-echo-windows.json
  tests/pretaster/configs/test-env-windows.json
  tests/pretaster/failure-diagnostics/pretaster-go-go-load-fail.exe
  tests/pretaster/failure-diagnostics/pretaster-go-go-load-fail.hex
  tests/pretaster/scripts/combo_test.sh
  tests/pretaster/scripts/echo_test.sh
  tests/pretaster/scripts/env_test.sh
  tests/pretaster/scripts/orchestrate.tar.gz
  tests/pretaster/slots/init-data.tar.gz
  tests/pretaster/slots/scripts.tar.gz
  tests/pretaster/slots/utilities.tar.gz
  tests/pretaster/tests/combination-tests.sh
  tests/pretaster/tests/test-pretaster.sh
  tests/pretaster/uv.lock
Due: none

fix: combo test works on Windows — bash port of combo_test.py
  tests/pretaster/configs/test-combination-windows.json
  tests/pretaster/configs/test-echo-windows.json
  tests/pretaster/configs/test-env-windows.json
  tests/pretaster/scripts/combo_test.sh
  tests/pretaster/scripts/echo_test.sh
  tests/pretaster/scripts/env_test.sh
  tests/pretaster/scripts/orchestrate.tar.gz
  tests/pretaster/slots/init-data.tar.gz
  tests/pretaster/slots/scripts.tar.gz
  tests/pretaster/slots/utilities.tar.gz
  tests/pretaster/tests/combination-tests.sh
  tests/pretaster/tests/test-pretaster.sh
  tests/pretaster/uv.lock
Due: none

fix: test-flavor-self-contained finds .psp on Windows (not only .exe)
  .github/scripts/test-flavor-self-contained.sh
Due: none

fix: use python.exe at root for Windows cpython-build-standalone in PSP
  .github/workflows/03-flavor-pipeline.yml
  src/flavor/packaging/orchestrator_helpers.py
  src/flavor/packaging/python/environment_builder.py
Due: unit, integration

fix: use bin/uv (not Scripts/uv.exe) in Windows PSP setup commands
  src/flavor/packaging/orchestrator_helpers.py
Due: unit, integration

fix: re-zip UV archive-v0 entries into .whl files for offline pip
  .github/scripts/install-flavor-wheel.sh
  .github/scripts/prewarm-wheel-cache.sh
  .github/workflows/03-flavor-pipeline.yml
Due: none

fix: exclude grpcio on windows_arm64 via override (no binary wheel)
  .github/scripts/install-flavor-wheel.sh
  pyproject.toml
  src/flavor/psp/format_2025/environment.py
  tests/integration/test_pretaster_integration.py
Due: unit, integration, security

fix: use python -m pip install on Windows to avoid uv trampoline issue
  src/flavor/packaging/orchestrator_helpers.py
Due: unit, integration

fix: pass Windows system env vars to pip subprocesses (Winsock DLL fix)
  src/flavor/packaging/python/pypapip_manager.py
  src/flavor/packaging/python/uv_manager.py
Due: unit, integration

fix(runner): correct Windows ARM64 runner label to windows-11-arm
  .github/scripts/create-pretaster-matrix.sh
  .github/scripts/run-pretaster-tests.sh
  .github/workflows/01-helper-prep.yml
  .github/workflows/02-pretaster-pipeline.yml
  .github/workflows/03-flavor-pipeline.yml
  .github/workflows/04-taster-pipeline.yml
  tests/pretaster/tests/combination-tests.sh
Due: none

fix: make all Python tests pass on Windows ARM64
  Makefile
  pyproject.toml
  src/flavor-go/pkg/psp/format_2025/builder_windows_test.go
  src/flavor/packaging/orchestrator.py
  src/flavor/packaging/orchestrator_helpers.py
  src/flavor/packaging/python/dist_manager.py
  src/flavor/packaging/python/pypapip_manager.py
  src/flavor/packaging/python/uv_manager.py
  src/flavor/packaging/python/wheel_builder.py
  src/flavor/psp/format_2025/backends.py
  src/flavor/psp/format_2025/environment.py
  src/flavor/psp/format_2025/reader.py
  src/flavor/psp/format_2025/workenv.py
  src/flavor/psp/metadata/paths.py
  tests/cli/test_helpers_ops.py
  tests/conftest.py
  tests/format_2025/test_bundle_execution.py
  tests/format_2025/test_keys_resolution.py
  tests/format_2025/test_operation_chains.py
  tests/format_2025/test_platform_placeholders.py
  tests/format_2025/test_pspf_builder_integration.py
  tests/format_2025/test_slots.py
  tests/format_2025/test_workenv_commands.py
  tests/format_2025/test_workenv_directories.py
  tests/helpers/test_binary_loader_extra.py
  tests/helpers/test_helper_manager.py
  tests/mmap/test_mmap_edge_cases.py
  tests/mmap/test_mmap_performance_core.py
  tests/mmap/test_mmap_performance_resources.py
  tests/packaging/python/test_dist_manager.py
  tests/packaging/python/test_pypapip_manager.py
  tests/packaging/python/test_slot_builder_core.py
  tests/packaging/python/test_wheel_builder.py
  tests/packaging/test_keys.py
  tests/packaging/test_orchestrator_helpers_manifests.py
  tests/security/test_package_security.py
Due: unit, integration, security

fix: use python.exe -m <module> as runtime command on Windows
  src/flavor/packaging/orchestrator_helpers.py
Due: unit, integration

fix(packaging): pin cryptography to <=46.0.3 and enforce x64 Python for uv tool install on windows_arm64
  .github/scripts/install-flavor-wheel.sh
  .github/scripts/prewarm-wheel-cache.sh
  .github/workflows/03-flavor-pipeline.yml
  pyproject.toml
  src/flavor/packaging/python/uv_manager.py
Due: unit, integration

fix: pre-warm UV cache and update lockfile to fix Windows PSPF build
  .github/workflows/03-flavor-pipeline.yml
Due: none

fix: pass SYSTEMROOT to uv python install/find subprocesses on Windows
  src/flavor/packaging/python/environment_builder.py
Due: unit, integration

fix: replace broken uv pip download with FLAVOR_WHEEL_CACHE pip --no-index strategy
  .github/scripts/prewarm-wheel-cache.sh
  .github/workflows/03-flavor-pipeline.yml
  src/flavor/packaging/python/uv_manager.py
Due: unit, integration

Path conditions:
  unit: any of: src/flavor/, but not: tests/, **/*_pb2.py, **/*_pb2.pyi, **/generated/*, **/__pycache__/
  integration: any of: src/flavor/, but not: tests/, **/*_pb2.py, **/*_pb2.pyi, **/generated/*, **/__pycache__/
  security: any of: src/flavor/psp/, src/flavor/crypto/, but not: tests/, **/*_pb2.py, **/*_pb2.pyi, **/generated/*, **/__pycache__/
