Repository provide-io/flavorpack: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, security

refactor(go): centralize FLAVOR_* env var names as constants
  src/flavor-go/cmd/flavor-go-builder/main.go
  src/flavor-go/internal/workenv/workenv.go
  src/flavor-go/internal/workenv/workenv_test.go
  src/flavor-go/pkg/envvars/envvars.go
  src/flavor-go/pkg/logging/logger.go
  src/flavor-go/pkg/logging/logger_test.go
  src/flavor-go/pkg/psp/format_2025/execution.go
  src/flavor-go/pkg/psp/format_2025/execution_env.go
  src/flavor-go/pkg/psp/format_2025/execution_env_test.go
  src/flavor-go/pkg/psp/format_2025/execution_policy_test.go
  src/flavor-go/pkg/psp/format_2025/launcher.go
  src/flavor-go/pkg/psp/format_2025/launcher_cli_additional_test.go
  src/flavor-go/pkg/psp/format_2025/launcher_dispatch_additional_test.go
  src/flavor-go/pkg/psp/format_2025/launcher_execution_additional_test.go
  src/flavor-go/pkg/psp/format_2025/launcher_execution_test.go
  src/flavor-go/pkg/psp/format_2025/launcher_test.go
  src/flavor-go/pkg/psp/format_2025/trust_test.go
  src/flavor-rs/src/env_vars.rs
  src/flavor-rs/src/psp/format_2025/execution/commands.rs
  src/flavor-rs/src/psp/format_2025/launcher/command.rs
  src/flavor-rs/src/psp/format_2025/policy.rs
  src/flavor/cache.py
  src/flavor/config/defaults.py
  src/flavor/helpers/manager.py
  src/flavor/psp/format_2025/backends.py
  src/flavor/psp/format_2025/metadata/assembly.py
  tests/format_2025/test_coverage_gaps.py
  tests/tools/__init__.py
  tests/tools/test_validate_wheel.py
  tools/validate_wheel.py
Due: unit, integration, security

fix: harden policy parsing and trust enforcement
  src/flavor-go/pkg/psp/format_2025/builder.go
  src/flavor-go/pkg/psp/format_2025/builder_test.go
  src/flavor-go/pkg/psp/format_2025/execution.go
  src/flavor-go/pkg/psp/format_2025/execution_policy.go
  src/flavor-go/pkg/psp/format_2025/execution_policy_test.go
  src/flavor-go/pkg/psp/format_2025/launcher_execution_test.go
  src/flavor-go/pkg/psp/format_2025/security_helpers.go
  src/flavor-go/pkg/psp/format_2025/security_helpers_test.go
  src/flavor/commands/policy.py
  src/flavor/config/policy.py
  src/flavor/psp/format_2025/launcher.py
  tests/cli/test_policy_command.py
  tests/config/test_policy.py
  tests/format_2025/test_launcher_security_parity.py
  tests/tools/test_validate_wheel.py
  tools/validate_wheel.py
Due: unit, integration, security

fix(rust): StreamBackend.read_slot() assembles full slot instead of truncating to one chunk
  src/flavor-rs/src/psp/format_2025/backends.rs
Due: none

chore(ci): switch PyPI release to trusted publishing
  .github/workflows/05-code-quality.yml
  .github/workflows/release.yml
  tests/test_quality_observability.py
Due: none

fix: security hardening — policy alignment, file perms, cross-lang parity
  .github/workflows/compatibility-check.yml
  .github/workflows/release.yml
  src/flavor-go/internal/workenv/validation.go
  src/flavor-go/pkg/psp/format_2025/execution_cache.go
  src/flavor-go/pkg/psp/format_2025/execution_slots.go
  src/flavor-go/pkg/psp/format_2025/launcher.go
  src/flavor-go/pkg/psp/format_2025/locking.go
  src/flavor-rs/src/env_vars.rs
  src/flavor-rs/src/psp/format_2025/policy.rs
  src/flavor-rs/src/psp/format_2025/trust.rs
  src/flavor/config/policy.py
  src/flavor/psp/format_2025/launcher.py
  tools/validate_wheel.py
Due: unit, integration, security

test(go): cover extraction merges and exec path edges
  src/flavor-go/pkg/psp/format_2025/execution.go
  src/flavor-go/pkg/psp/format_2025/launcher_dispatch_additional_test.go
  src/flavor-go/pkg/psp/format_2025/launcher_execution_additional_test.go
  src/flavor-go/pkg/psp/format_2025/launcher_execution_test.go
  src/flavor-rs/src/psp/format_2025/verifier.rs
Due: none

fix: replace unsafe LockResource pointer cast with pure-Go winres reader
  src/flavor-go/pkg/psp/format_2025/pe_resources.go
  src/flavor/commands/policy.py
Due: unit, integration

fix(rust): make PlatformInfo.host optional to accept Python-built bundles
  .github/workflows/08-license-compliance.yml
  src/flavor-go/pkg/psp/format_2025/builder_test.go
  src/flavor-go/pkg/psp/format_2025/crypto_test.go
  src/flavor-go/pkg/psp/format_2025/execution.go
  src/flavor-go/pkg/psp/format_2025/execution_cache_additional_test.go
  src/flavor-go/pkg/psp/format_2025/execution_policy_test.go
  src/flavor-go/pkg/psp/format_2025/execution_resolve_test.go
  src/flavor-go/pkg/psp/format_2025/execution_slots.go
  src/flavor-go/pkg/psp/format_2025/execution_utils_test.go
  src/flavor-go/pkg/psp/format_2025/launcher_cli_test.go
  src/flavor-go/pkg/psp/format_2025/launcher_dispatch_additional_test.go
  src/flavor-go/pkg/psp/format_2025/launcher_execution_test.go
  src/flavor-go/pkg/psp/format_2025/reader_slots.go
  src/flavor-go/pkg/psp/format_2025/reader_slots_additional_test.go
  src/flavor-go/pkg/psp/format_2025/runtime_utils_test.go
  src/flavor-rs/src/psp/format_2025/builder/metadata.rs
  src/flavor-rs/src/psp/format_2025/launcher/workenv.rs
  src/flavor-rs/src/psp/format_2025/metadata.rs
  tools/validate_wheel.py
Due: none

fix: stabilize quality observability and mutation regressions
  .github/workflows/05-code-quality.yml
  pyproject.toml
  scripts/check_version_sync.py
  tests/packaging/python/test_coverage_gaps.py
  tests/parity/test_verification_parity.py
  tests/security/test_path_traversal.py
  tests/test_quality_observability.py
  tests/test_version_sync.py
  tests/tools/test_validate_wheel.py
Due: none

fix(windows): cross-platform compatibility for Go/Rust/Python on Windows
  src/flavor-go/pkg/psp/format_2025/builder.go
  src/flavor-go/pkg/psp/format_2025/execution_resolve_test.go
  src/flavor-rs/src/psp/format_2025/launcher/mod.rs
  src/flavor/cache.py
  tests/cli/test_policy_command.py
  tests/format_2025/test_launcher_execution.py
  tests/integration/test_pretaster_integration.py
  tests/packaging/python/test_coverage_gaps.py
  tests/packaging/test_orchestrator.py
  tests/parity/test_extraction_parity.py
  tests/parity/test_platform_parity.py
  tests/test_quality_observability.py
  tests/test_test_taxonomy.py
Due: unit, integration

fix(rust): hash slot data in chunks to fix checksum failure on large PSP files
  src/flavor-rs/src/psp/format_2025/verifier.rs
Due: none

fix(windows): resolve launcher binary lookup on Windows for attestation slot
  src/flavor/psp/format_2025/builder.py
  src/flavor/psp/format_2025/metadata/assembly.py
  tests/conftest.py
Due: unit, integration, security

refactor(config): centralize FLAVOR_* environment variable constants and rename FLAVOR_CACHE to FLAVOR_CACHE_DIR
  .github/workflows/03-flavor-pipeline.yml
  src/flavor/cache.py
  src/flavor/cli.py
  src/flavor/commands/__init__.py
  src/flavor/commands/doctor.py
  src/flavor/commands/package.py
  src/flavor/config/config.py
  src/flavor/config/defaults.py
  src/flavor/config/runtime.py
  src/flavor/output.py
  src/flavor/packaging/orchestrator.py
  src/flavor/packaging/orchestrator_helpers.py
  src/flavor/packaging/python/slot_builder.py
  src/flavor/packaging/python/uv_manager.py
  src/flavor/packaging/python/wheel_builder.py
  src/flavor/psp/format_2025/builder.py
  src/flavor/psp/format_2025/environment.py
  src/flavor/psp/format_2025/executor.py
  src/flavor/psp/format_2025/metadata/assembly.py
  src/flavor/psp/security.py
  tests/cli/test_doctor.py
  tests/packaging/python/test_coverage_gaps.py
  tests/packaging/python/test_wheel_builder.py
  tests/parity/test_env_var_parity.py
Due: unit, integration, security

docs: stage deletion of original plan/spec files after archive move
  .pre-commit-config.yaml
  src/flavor-rs/src/psp/format_2025/launcher/mod.rs
Due: none

fix(test): correct Linux-specific test failures and CI heredoc syntax error
  .github/workflows/05-code-quality.yml
  .gitignore
  src/flavor-rs/Cargo.toml
  src/flavor-rs/src/psp/format_2025/builder/mod.rs
  src/flavor-rs/src/psp/format_2025/launcher/mod.rs
  src/flavor-rs/src/psp/format_2025/policy.rs
  src/flavor-rs/src/psp/format_2025/trust.rs
  src/flavor/psp/format_2025/backends.py
  tests/integration/test_pretaster_integration.py
  tests/packaging/python/test_pypapip_manager.py
  tests/validation/test_mock_accuracy.py
Due: unit, integration, security

Path conditions:
  unit: any of: src/flavor/, but not: tests/, **/*_pb2.py, **/*_pb2.pyi, **/generated/*, **/__pycache__/
  integration: any of: src/flavor/, but not: tests/, **/*_pb2.py, **/*_pb2.pyi, **/generated/*, **/__pycache__/
  security: any of: src/flavor/psp/, src/flavor/crypto/, but not: tests/, **/*_pb2.py, **/*_pb2.pyi, **/generated/*, **/__pycache__/
