Repository provide-io/flavorpack: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, security

.codecov.yml:

# Codecov configuration for flavorpack
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 1%

  precision: 2
  round: down
  range: "70...100"

ignore:
  - "tests/"
  - "**/*_pb2.py"
  - "**/*_pb2.pyi"
  - "**/generated/*"
  - "**/__pycache__/"

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false

flags:
  unit:
    paths:
      - src/flavor/
  integration:
    paths:
      - src/flavor/
  security:
    paths:
      - src/flavor/psp/
      - src/flavor/crypto/

refactor: extract install-flavor-wheel.sh, remove inline YAML scripts
  .github/workflows/flavor-pipeline.yml
  ci/install-flavor-wheel.sh
Due: none

fix: force x64 Python for uv tool install on windows_arm64
  .github/workflows/flavor-pipeline.yml
  ci/prewarm-wheel-cache.sh
Due: none

debug: elevate FLAVOR_WHEEL_CACHE logs to warning so they appear on CI
  src/flavor/packaging/python/uv_manager.py
Due: unit, integration

fix: re-zip UV archive-v0 entries into .whl files for offline pip
  ci/prewarm-wheel-cache.sh
Due: none

fix: exclude grpcio on windows_arm64 via pyproject.toml platform marker
  ci/install-flavor-wheel.sh
  pyproject.toml
Due: none

fix: install flavorpack natively on arm64, pin cryptography for binary wheel
  .github/workflows/flavor-pipeline.yml
  ci/install-flavor-wheel.sh
Due: none

fix: exclude grpcio on windows_arm64 via override (no binary wheel)
  ci/install-flavor-wheel.sh
Due: none

fix: exclude setproctitle on windows_arm64 (no binary wheel)
  pyproject.toml
Due: none

fix: guard is_trace_enabled; require helpers for echo test
  src/flavor/psp/format_2025/environment.py
Due: unit, integration, security

fix: make all Python tests pass on Windows ARM64
  Makefile
  pyproject.toml
  src/flavor-go/pkg/psp/format_2025/builder_windows_test.go
  src/flavor/packaging/orchestrator.py
  src/flavor/packaging/orchestrator_helpers.py
  src/flavor/packaging/python/pypapip_manager.py
  src/flavor/packaging/python/uv_manager.py
  src/flavor/packaging/python/wheel_builder.py
  src/flavor/psp/format_2025/environment.py
  src/flavor/psp/format_2025/reader.py
  tests/format_2025/test_bundle_execution.py
  tests/format_2025/test_keys_resolution.py
  tests/format_2025/test_pspf_builder_integration.py
  tests/format_2025/test_slots.py
  tests/format_2025/test_workenv_commands.py
  tests/format_2025/test_workenv_directories.py
  tests/helpers/test_binary_loader_extra.py
  tests/mmap/test_mmap_edge_cases.py
  tests/mmap/test_mmap_performance_core.py
  tests/mmap/test_mmap_performance_resources.py
  tests/packaging/python/test_dist_manager.py
  tests/packaging/python/test_slot_builder_core.py
  tests/packaging/test_keys.py
  tests/security/test_package_security.py
Due: unit, integration, security

fix: PE resource embedding — FindResource arg, offset rebasing, lifecycle cleanup
  src/flavor-go/pkg/psp/format_2025/builder.go
  src/flavor-go/pkg/psp/format_2025/execution.go
  src/flavor-go/pkg/psp/format_2025/pe_resources.go
Due: none

fix: request native ARM64 Python on Windows ARM64 via uv explicit spec
  src/flavor/packaging/python/environment_builder.py
Due: unit, integration
