Repository provide-io/flavorpack: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, security

fix: enable Rust index checksum verification — was incorrectly disabled
  src/flavor-rs/src/psp/format_2025/index.rs
  src/flavor-rs/src/psp/format_2025/reader.rs
Due: none

refactor: clean up dead code and logging levels in Rust index/reader
  src/flavor-rs/src/psp/format_2025/index.rs
  src/flavor-rs/src/psp/format_2025/reader.rs
Due: none

fix: cross-language accuracy fixes — lifecycle enum, op chain, slot metadata, spec doc
  docs/reference/spec/SLOT_DESCRIPTOR_SPECIFICATION.md
  src/flavor-go/cmd/flavor-go-launcher/main.go
  src/flavor-go/pkg/psp/format_2025/index.go
  src/flavor-go/pkg/psp/format_2025/launcher.go
  src/flavor-go/pkg/psp/format_2025/launcher_validation.go
  src/flavor-go/pkg/psp/format_2025/metadata.go
  src/flavor-go/pkg/psp/format_2025/runtime.go
  src/flavor-rs/src/psp/format_2025/index.rs
  src/flavor-rs/src/psp/format_2025/operations.rs
  src/flavor-rs/src/psp/format_2025/slots.rs
  src/flavor/psp/format_2025/slots.py
Due: unit, integration, security

chore: update all GitHub Actions to latest Node.js 24-compatible versions
  .github/workflows/01-helper-prep.yml
  .github/workflows/02-pretaster-pipeline.yml
  .github/workflows/03-flavor-pipeline.yml
  .github/workflows/04-taster-pipeline.yml
  .github/workflows/05-code-quality.yml
  .github/workflows/06-security-scan.yml
  .github/workflows/07-dependency-audit.yml
  .github/workflows/08-license-compliance.yml
  .github/workflows/compatibility-check.yml
  .github/workflows/release-pipeline.yml
Due: none

fix: pass HOME/PATH to inner PSPs in exec-test bootstrap
  tests/taster/src/taster/commands/exec_test.py
Due: none

fix: improve Rust launcher diagnostics — warn on silent failures, case-insensitive exit codes
  src/flavor-rs/src/bin/flavor-rs-launcher.rs
  src/flavor-rs/src/psp/format_2025/index.rs
  src/flavor-rs/src/psp/format_2025/launcher/command.rs
  src/flavor-rs/src/psp/format_2025/reader.rs
  src/flavor-rs/src/psp/format_2025/runtime.rs
Due: none

fix: set PYTHONUTF8=1 in build-taster-with-psp.sh
  .github/scripts/build-taster-with-psp.sh
  src/flavor/packaging/python/uv_manager.py
Due: unit, integration

fix: PE resource embedding — FindResource arg, offset rebasing, lifecycle cleanup
  .github/scripts/test-flavor-self-contained.sh
  pyproject.toml
  src/flavor-go/pkg/psp/format_2025/builder.go
  src/flavor-go/pkg/psp/format_2025/execution.go
  src/flavor-go/pkg/psp/format_2025/pe_resources.go
  src/flavor-rs/src/psp/format_2025/pe_resources.rs
  src/flavor/packaging/python/environment_builder.py
  tests/pretaster/configs/test-combination-windows.json
  tests/pretaster/configs/test-echo-windows.json
  tests/pretaster/configs/test-env-windows.json
  tests/pretaster/scripts/combo_test.sh
  tests/pretaster/scripts/echo_test.sh
  tests/pretaster/scripts/env_test.sh
  tests/pretaster/tests/combination-tests.sh
  tests/pretaster/tests/test-pretaster.sh
Due: unit, integration

fix: use uv_manager.find_system_uv in dependency_resolver; add cryptography>=46 constraint
  src/flavor/packaging/python/dependency_resolver.py
  tests/taster/pyproject.toml
Due: unit, integration

fix: find uv next to Python exe; add arm64 Windows uv URL; update versions
  src/flavor/packaging/python/uv_manager.py
  tests/packaging/python/test_integration.py
  tests/packaging/python/test_uv_manager.py
  tests/taster/pyproject.toml
Due: unit, integration

fix: expand comprehensive-test matrix to test both Go and Rust launchers
  .github/scripts/download-helpers.sh
  .github/workflows/04-taster-pipeline.yml
  src/flavor-go/pkg/psp/format_2025/launcher.go
  src/flavor-go/pkg/psp/format_2025/launcher_unix.go
  src/flavor-go/pkg/psp/format_2025/launcher_windows.go
  tests/taster/pyproject.toml
  tests/taster/src/taster/commands/mmap.py
Due: none

fix: use entry-point module for Windows -m invocation; exclude grpcio on win_arm64
  .github/scripts/prewarm-wheel-cache.sh
  pyproject.toml
  src/flavor/packaging/orchestrator_helpers.py
  src/flavor/packaging/python/slot_builder.py
  src/flavor/packaging/python/wheel_builder.py
  tests/packaging/python/test_slot_builder_build_backends.py
  tests/packaging/python/test_wheel_builder.py
  tests/packaging/python/test_wheel_builder_critical.py
  tests/taster/pyproject.toml
  tests/taster/src/taster/cli.py
  tests/taster/src/taster/commands/mmap.py
Due: unit, integration

fix: force fresh UV download of build-backends wheels in prewarm
  .github/scripts/prewarm-wheel-cache.sh
  pyproject.toml
  tests/taster/pyproject.toml
  tests/taster/src/taster/cli.py
Due: none

fix: exec-test bootstrap workenv name is PSP filename, not pkg+version
  tests/taster/src/taster/commands/exec_test.py
Due: none

fix: add --no-config to uv wheel install in PSP setup commands
  src/flavor/packaging/orchestrator_helpers.py
  src/flavor/packaging/python/pypapip_manager.py
  src/flavor/packaging/python/uv_manager.py
Due: unit, integration

fix: add --no-build-isolation to pip wheel to prevent subprocess truststore crash
  src/flavor/packaging/python/pypapip_manager.py
  src/flavor/packaging/python/slot_builder.py
  tests/packaging/python/test_dist_manager.py
  tests/packaging/python/test_integration.py
  tests/packaging/python/test_pypapip_manager.py
  tests/packaging/python/test_wheel_builder.py
  tests/packaging/python/test_wheel_builder_critical.py
Due: unit, integration

fix: resolve exec-mode binary via cmd env PATH; add Windows comprehensive tests
  .github/workflows/04-taster-pipeline.yml
  src/flavor-go/pkg/psp/format_2025/execution_resolve.go
  src/flavor-go/pkg/psp/format_2025/launcher.go
Due: none

fix: exec-test workenv path + add project.scripts to test manifests
  tests/taster/src/taster/commands/exec_test.py
Due: none

fix: use bash shell + Go launcher on Windows in comprehensive tests
  .github/workflows/04-taster-pipeline.yml
Due: none

fix: block pip vendored truststore on Windows via -c wrapper
  src/flavor/packaging/python/pypapip_manager.py
  tests/packaging/python/test_pypapip_manager.py
Due: unit, integration

fix: PE resource embedding — FindResource arg, offset rebasing, lifecycle cleanup
  .github/scripts/test-flavor-self-contained.sh
  pyproject.toml
  src/flavor-go/pkg/psp/format_2025/builder.go
  src/flavor-go/pkg/psp/format_2025/execution.go
  src/flavor-go/pkg/psp/format_2025/pe_resources.go
  src/flavor-rs/src/psp/format_2025/pe_resources.rs
  src/flavor/packaging/python/environment_builder.py
  tests/pretaster/configs/test-combination-windows.json
  tests/pretaster/configs/test-echo-windows.json
  tests/pretaster/configs/test-env-windows.json
  tests/pretaster/failure-diagnostics/pretaster-go-go-load-fail.hex
  tests/pretaster/scripts/combo_test.sh
  tests/pretaster/scripts/echo_test.sh
  tests/pretaster/scripts/env_test.sh
  tests/pretaster/tests/combination-tests.sh
  tests/pretaster/tests/test-pretaster.sh
Due: unit, integration

Path conditions:
  unit: any of: src/flavor/, but not: tests/, **/*_pb2.py, **/*_pb2.pyi, **/generated/*, **/__pycache__/
  integration: any of: src/flavor/, but not: tests/, **/*_pb2.py, **/*_pb2.pyi, **/generated/*, **/__pycache__/
  security: any of: src/flavor/psp/, src/flavor/crypto/, but not: tests/, **/*_pb2.py, **/*_pb2.pyi, **/generated/*, **/__pycache__/
