Repository provide-io/flavorpack: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, security

.codecov.yml:

# Codecov configuration for flavorpack
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 1%

  precision: 2
  round: down
  range: "70...100"

ignore:
  - "tests/"
  - "**/*_pb2.py"
  - "**/*_pb2.pyi"
  - "**/generated/*"
  - "**/__pycache__/"

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false

flags:
  unit:
    paths:
      - src/flavor/
  integration:
    paths:
      - src/flavor/
  security:
    paths:
      - src/flavor/psp/
      - src/flavor/crypto/

test: Release 0.10.0 with comprehensive test and CI improvements
  src/flavor/cache.py
  src/flavor/helpers/binary_loader.py
  src/flavor/helpers/manager.py
  src/flavor/package.py
  src/flavor/packaging/keys.py
  src/flavor/packaging/orchestrator.py
  src/flavor/packaging/orchestrator_helpers.py
  src/flavor/packaging/python/dependency_resolver.py
  src/flavor/packaging/python/dist_manager.py
  src/flavor/packaging/python/environment_builder.py
  src/flavor/packaging/python/packager.py
  src/flavor/packaging/python/pypapip_manager.py
  src/flavor/packaging/python/slot_builder.py
  src/flavor/packaging/python/uv_manager.py
  src/flavor/packaging/python/wheel_builder.py
  src/flavor/psp/format_2025/builder.py
  src/flavor/psp/format_2025/environment.py
  src/flavor/psp/format_2025/executor.py
  src/flavor/psp/format_2025/extraction.py
  src/flavor/psp/format_2025/keys.py
  src/flavor/psp/format_2025/launcher.py
  src/flavor/psp/format_2025/metadata/assembly.py
  src/flavor/psp/format_2025/pe_utils/directories.py
  src/flavor/psp/format_2025/pe_utils/sections.py
  src/flavor/psp/format_2025/spec.py
  src/flavor/psp/format_2025/validation.py
  src/flavor/psp/format_2025/workenv.py
  src/flavor/psp/format_2025/writer.py
  src/flavor/psp/metadata/paths.py
  src/flavor/psp/security.py
  src/flavor/utils/xor.py
Due: unit, integration, security

feat(build): add Windows ARM64 support to build system and CI/CD pipelines
  src/flavor/helpers/binary_loader.py
  src/flavor/packaging/orchestrator_helpers.py
  src/flavor/packaging/python/dependency_resolver.py
  src/flavor/packaging/python/dist_manager.py
  src/flavor/packaging/python/packager.py
  src/flavor/packaging/python/pypapip_manager.py
  src/flavor/packaging/python/slot_builder.py
  src/flavor/packaging/python/uv_manager.py
  src/flavor/packaging/python/wheel_builder.py
  src/flavor/psp/format_2025/builder.py
  src/flavor/psp/format_2025/environment.py
  src/flavor/psp/format_2025/executor.py
  src/flavor/psp/format_2025/extraction.py
  src/flavor/psp/format_2025/launcher.py
  src/flavor/psp/format_2025/pe_utils/directories.py
  src/flavor/psp/format_2025/pe_utils/sections.py
  src/flavor/psp/format_2025/workenv.py
  src/flavor/psp/format_2025/writer.py
  src/flavor/psp/security.py
  src/flavor/utils/xor.py
Due: unit, integration, security

fix(uv): stabilize offline dependency resolution and wheel downloads on Windows GHA runners
  .github/workflows/02-pretaster-pipeline.yml
  .github/workflows/03-flavor-pipeline.yml
  src/flavor/packaging/python/pypapip_manager.py
  src/flavor/packaging/python/uv_manager.py
  src/flavor/packaging/python/wheel_builder.py
Due: unit, integration

fix: make Python distribution discovery robust to uv version differences
  src/flavor/packaging/python/environment_builder.py
Due: unit, integration

fix: use uv default managed location as fallback for Python install
  src/flavor/packaging/python/environment_builder.py
Due: unit, integration

harden(environment_builder): Add error handling for Python installation strategies
  src/flavor/packaging/python/environment_builder.py
Due: unit, integration

fix: Error handling for Python installation strategies
  .github/workflows/02-pretaster-pipeline.yml
  .github/workflows/03-flavor-pipeline.yml
  src/flavor/helpers/binary_loader.py
  src/flavor/packaging/orchestrator_helpers.py
  src/flavor/packaging/python/dependency_resolver.py
  src/flavor/packaging/python/dist_manager.py
  src/flavor/packaging/python/environment_builder.py
  src/flavor/packaging/python/packager.py
  src/flavor/packaging/python/pypapip_manager.py
  src/flavor/packaging/python/slot_builder.py
  src/flavor/packaging/python/uv_manager.py
  src/flavor/packaging/python/wheel_builder.py
  src/flavor/psp/format_2025/builder.py
  src/flavor/psp/format_2025/environment.py
  src/flavor/psp/format_2025/executor.py
  src/flavor/psp/format_2025/extraction.py
  src/flavor/psp/format_2025/launcher.py
  src/flavor/psp/format_2025/pe_utils/directories.py
  src/flavor/psp/format_2025/pe_utils/sections.py
  src/flavor/psp/format_2025/workenv.py
  src/flavor/psp/format_2025/writer.py
  src/flavor/psp/security.py
  src/flavor/utils/xor.py
Due: unit, integration, security

Add error handling for Python installation strategies
  src/flavor/packaging/python/environment_builder.py
Due: unit, integration

feat: Windows ARM64 build support: defense-in-depth atomic file ops and Python install error handling
  src/flavor/packaging/python/environment_builder.py
Due: unit, integration

feat: add {bin}, {python}, {python_bin} runtime substitution variables
  src/flavor/psp/format_2025/executor.py
  src/flavor/psp/format_2025/workenv.py
  tests/format_2025/test_bundle_execution.py
  tests/format_2025/test_workenv_commands.py
Due: unit, integration, security

Add Windows ARM64 support across all CI pipelines
  .github/scripts/build-pretaster.sh
  .github/scripts/create-pretaster-matrix.sh
  .github/workflows/02-pretaster-pipeline.yml
  .github/workflows/03-flavor-pipeline.yml
  .github/workflows/04-taster-pipeline.yml
  tests/pretaster/KNOWN_ISSUES.md
Due: none

Fix Windows ARM64 runner label to windows-11-arm
  .github/scripts/create-pretaster-matrix.sh
  .github/workflows/01-helper-prep.yml
  .github/workflows/03-flavor-pipeline.yml
  .github/workflows/04-taster-pipeline.yml
Due: none

Skip Rust builder and cross-language tests on Windows
  .github/workflows/02-pretaster-pipeline.yml
Due: none

Use crosslang_matrix to exclude Windows from test-crosslang
  .github/workflows/02-pretaster-pipeline.yml
Due: none

Skip Rust combinations on Windows in combination tests
  .github/workflows/02-pretaster-pipeline.yml
  tests/pretaster/tests/combination-tests.sh
Due: none

Skip Rust-dependent core tests on Windows, run combo only
  .github/scripts/run-pretaster-tests.sh
Due: none

fix: pre-warm UV cache and update lockfile to fix Windows PSPF build
  .github/workflows/03-flavor-pipeline.yml
  uv.lock
Due: none

fix: use --frozen in pre-warm step to prevent supply chain risk
  .github/workflows/03-flavor-pipeline.yml
Due: none

fix: pre-warm with --no-build to skip source-only packages on ARM64
  .github/workflows/03-flavor-pipeline.yml
Due: none
