Repository provide-io/flavorpack: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, security

.codecov.yml:

# Codecov configuration for flavorpack
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 1%

  precision: 2
  round: down
  range: "70...100"

ignore:
  - "tests/"
  - "**/*_pb2.py"
  - "**/*_pb2.pyi"
  - "**/generated/*"
  - "**/__pycache__/"

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false

flags:
  unit:
    paths:
      - src/flavor/
  integration:
    paths:
      - src/flavor/
  security:
    paths:
      - src/flavor/psp/
      - src/flavor/crypto/

fix(go): reject symlinks in tar extraction to prevent path escape
  src/flavor-go/pkg/psp/format_2025/reader_slots.go
  src/flavor-go/pkg/psp/format_2025/reader_slots_test.go
Due: none

fix: enforce require_trusted_key policy in Go and Rust launchers
  src/flavor-go/pkg/psp/format_2025/execution.go
  src/flavor-go/pkg/psp/format_2025/execution_policy.go
  src/flavor-go/pkg/psp/format_2025/execution_policy_test.go
  src/flavor-rs/src/psp/format_2025/launcher/mod.rs
  src/flavor-rs/src/psp/format_2025/policy.rs
Due: none

fix(tests): update slot count assertions and remove nonexistent write_json mock
  tests/format_2025/test_launcher_execution.py
  tests/format_2025/test_pspf_2025_core.py
  tests/format_2025/test_pspf_2025_security.py
  tests/test_coverage_gaps_batch2.py
Due: none

chore: snapshot current workspace state
  tests/pretaster/configs/keys/flavor-private.key
  tests/pretaster/configs/keys/flavor-public.key
  tests/pretaster/scripts/orchestrate.tar.gz
  tests/pretaster/slots/init-data.tar.gz
  tests/pretaster/slots/scripts.tar.gz
  tests/pretaster/slots/utilities.tar.gz
Due: none

fix(python): enforce launcher security and isolate workenv cache
  src/flavor/config/defaults.py
  src/flavor/config/policy.py
  src/flavor/psp/format_2025/launcher.py
  src/flavor/psp/format_2025/workenv.py
  tests/format_2025/test_launcher_security_parity.py
Due: unit, integration, security

docs: add cross-language quality hardening design
  docs/superpowers/specs/2026-03-31-quality-hardening-design.md
Due: none

docs: add quality hardening implementation plan
  docs/superpowers/plans/2026-03-31-quality-hardening.md
Due: none

test: add cross-language quality observability workflows
  .github/workflows/05-code-quality.yml
  AGENTS.md
  Makefile
  README.md
  pyproject.toml
  src/flavor-go/Makefile
  src/flavor-rs/Cargo.toml
  src/flavor-rs/Makefile
  src/flavor-rs/fuzz/Cargo.lock
  src/flavor-rs/fuzz/Cargo.toml
  src/flavor-rs/fuzz/fuzz_targets/pspf_operations_roundtrip.rs
  src/flavor-rs/fuzz/fuzz_targets/pspf_reader_no_panic.rs
Due: none

test: cover quality observability contracts
  tests/test_quality_observability.py
Due: none

fix(go): harden builder paths and add coverage
  src/flavor-go/pkg/psp/format_2025/builder.go
  src/flavor-go/pkg/psp/format_2025/builder_test.go
  src/flavor-go/pkg/psp/format_2025/builder_windows_test.go
Due: none

docs: define cross-language test taxonomy
  docs/superpowers/specs/2026-03-31-test-taxonomy-design.md
Due: none

test: implement cross-language test taxonomy
  .github/workflows/05-code-quality.yml
  AGENTS.md
  Makefile
  README.md
  docs/superpowers/plans/2026-03-31-test-taxonomy.md
  pyproject.toml
  tests/format_2025/test_hypothesis_invariants.py
  tests/format_2025/test_launcher_security_parity.py
  tests/format_2025/test_workenv_core.py
  tests/parity/test_builder_cli_parity.py
  tests/parity/test_env_var_parity.py
  tests/parity/test_extraction_parity.py
  tests/parity/test_lifecycle_constants.py
  tests/parity/test_platform_parity.py
  tests/parity/test_policy_parity.py
  tests/parity/test_sbom_parity.py
  tests/parity/test_trust_parity.py
  tests/parity/test_verification_parity.py
  tests/security/test_package_integrity.py
  tests/security/test_package_security.py
  tests/security/test_security_core.py
  tests/test_quality_observability.py
  tests/test_test_taxonomy.py
Due: none

test(rust): expand coverage and security cases
  src/flavor-rs/Cargo.lock
  src/flavor-rs/Cargo.toml
  src/flavor-rs/deny.toml
  src/flavor-rs/fuzz/Cargo.lock
  src/flavor-rs/src/api.rs
  src/flavor-rs/src/logger.rs
  src/flavor-rs/src/psp/format_2025/backends.rs
  src/flavor-rs/src/psp/format_2025/builder/finalization.rs
  src/flavor-rs/src/psp/format_2025/builder/metadata.rs
  src/flavor-rs/src/psp/format_2025/builder/mod.rs
  src/flavor-rs/src/psp/format_2025/builder/slot_processor.rs
  src/flavor-rs/src/psp/format_2025/checksums.rs
  src/flavor-rs/src/psp/format_2025/cli.rs
  src/flavor-rs/src/psp/format_2025/crypto.rs
  src/flavor-rs/src/psp/format_2025/debug.rs
  src/flavor-rs/src/psp/format_2025/defaults.rs
  src/flavor-rs/src/psp/format_2025/execution/commands.rs
  src/flavor-rs/src/psp/format_2025/execution/validation.rs
  src/flavor-rs/src/psp/format_2025/extraction.rs
  src/flavor-rs/src/psp/format_2025/index.rs
  src/flavor-rs/src/psp/format_2025/keys.rs
  src/flavor-rs/src/psp/format_2025/launcher/command.rs
  src/flavor-rs/src/psp/format_2025/launcher/extraction.rs
  src/flavor-rs/src/psp/format_2025/launcher/filesystem.rs
  src/flavor-rs/src/psp/format_2025/launcher/mod.rs
  src/flavor-rs/src/psp/format_2025/launcher/workenv.rs
  src/flavor-rs/src/psp/format_2025/locking.rs
  src/flavor-rs/src/psp/format_2025/manifest.rs
  src/flavor-rs/src/psp/format_2025/metadata.rs
  src/flavor-rs/src/psp/format_2025/paths.rs
  src/flavor-rs/src/psp/format_2025/pe_utils.rs
  src/flavor-rs/src/psp/format_2025/runtime.rs
  src/flavor-rs/src/psp/format_2025/trust.rs
  src/flavor-rs/src/psp/format_2025/verifier.rs
  src/flavor-rs/src/psp/mod.rs
  src/flavor-rs/src/utils/mod.rs
  src/flavor-rs/src/version.rs
Due: none

fix(windows): harden Windows-only PSPF paths in Go and Rust
  src/flavor-go/internal/workenv/workenv_test.go
  src/flavor-go/pkg/psp/format_2025/diskspace_windows.go
  src/flavor-go/pkg/psp/format_2025/execution_env_test.go
  src/flavor-go/pkg/psp/format_2025/execution_policy_test.go
  src/flavor-go/pkg/psp/format_2025/execution_utils_test.go
  src/flavor-go/pkg/psp/format_2025/reader_slots_additional_test.go
  src/flavor-go/pkg/psp/format_2025/security_helpers_test.go
  src/flavor-rs/src/psp/format_2025/builder/mod.rs
  src/flavor-rs/src/psp/format_2025/execution/commands.rs
  src/flavor-rs/src/psp/format_2025/launcher/command.rs
  src/flavor-rs/src/psp/format_2025/launcher/mod.rs
  src/flavor-rs/src/psp/format_2025/policy.rs
Due: none

fix(ci): serialize Rust tests; fix Go test assertions
  .pre-commit-config.yaml
  src/flavor-go/pkg/psp/format_2025/launcher_cli_additional_test.go
  src/flavor-go/pkg/psp/format_2025/launcher_cli_test.go
  src/flavor-go/pkg/psp/format_2025/launcher_dispatch_additional_test.go
  src/flavor-go/pkg/psp/format_2025/launcher_execution_test.go
Due: none

fix(go): make launcher tests cross-platform for Windows
  src/flavor-go/pkg/psp/format_2025/launcher_cli_additional_test.go
  src/flavor-go/pkg/psp/format_2025/launcher_execution_test.go
Due: none

refactor(python): centralize FLAVOR_* env var names in defaults.py; fix FLAVOR_CACHE→FLAVOR_CACHE_DIR
  src/flavor/cache.py
  src/flavor/commands/package.py
  src/flavor/config/config.py
  src/flavor/config/defaults.py
  src/flavor/config/runtime.py
  src/flavor/output.py
  src/flavor/packaging/orchestrator.py
  src/flavor/packaging/orchestrator_helpers.py
  src/flavor/packaging/python/slot_builder.py
  src/flavor/packaging/python/uv_manager.py
  tests/parity/test_env_var_parity.py
Due: unit, integration

refactor(python): extend env var constant coverage to psp/format_2025 files
  src/flavor/config/defaults.py
  src/flavor/psp/format_2025/builder.py
  src/flavor/psp/format_2025/environment.py
  src/flavor/psp/format_2025/executor.py
  src/flavor/psp/format_2025/metadata/assembly.py
  src/flavor/psp/security.py
Due: unit, integration, security

docs: archive completed plans and specs
  docs/superpowers/plans/archive/2026-03-27-hermetic-build-backends.md
  docs/superpowers/plans/archive/2026-03-30-pspf-security-hardening.md
  docs/superpowers/plans/archive/2026-03-31-enterprise-security-plan-1-foundation.md
  docs/superpowers/plans/archive/2026-03-31-enterprise-security-plan-2-trusted-key-store.md
  docs/superpowers/plans/archive/2026-03-31-enterprise-security-plan-3-sbom-provenance.md
  docs/superpowers/plans/archive/2026-03-31-enterprise-security-plan-4-launch-policy.md
  docs/superpowers/plans/archive/2026-03-31-quality-hardening.md
  docs/superpowers/plans/archive/2026-03-31-test-taxonomy.md
  docs/superpowers/specs/archive/2026-03-27-hermetic-build-backends-design.md
  docs/superpowers/specs/archive/2026-03-30-pspf-security-hardening-design.md
  docs/superpowers/specs/archive/2026-03-31-enterprise-security-design.md
  docs/superpowers/specs/archive/2026-03-31-quality-hardening-design.md
  docs/superpowers/specs/archive/2026-03-31-test-taxonomy-design.md
Due: none

fix(build): require explicit output_dir in resolve_dependencies
  src/flavor/packaging/python/wheel_builder.py
  tests/packaging/python/test_coverage_gaps.py
  tests/packaging/python/test_wheel_builder.py
Due: unit, integration
