Repository provide-io/flavorpack: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, security

.codecov.yml:

# Codecov configuration for flavorpack
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 1%

  precision: 2
  round: down
  range: "70...100"

ignore:
  - "tests/"
  - "**/*_pb2.py"
  - "**/*_pb2.pyi"
  - "**/generated/*"
  - "**/__pycache__/"

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false

flags:
  unit:
    paths:
      - src/flavor/
  integration:
    paths:
      - src/flavor/
  security:
    paths:
      - src/flavor/psp/
      - src/flavor/crypto/

fix: Resolve taster grpcio yank, truststore SSL error, Windows combo test port
  .github/scripts/build-pretaster.sh
  .github/scripts/create-pretaster-matrix.sh
  .github/workflows/01-helper-prep.yml
  .github/workflows/02-pretaster-pipeline.yml
  .github/workflows/03-flavor-pipeline.yml
  .github/workflows/04-taster-pipeline.yml
  .github/workflows/release-pipeline.yml
  COVERAGE_ASSESSMENT.md
  WINDOWS_ARM64_COMPLETION_REPORT.md
  docs/development/CODE_COVERAGE_REGRESSION.md
  docs/development/DEFENSE_IN_DEPTH_FILE_OPS.md
  docs/development/LOCAL_TESTING_WINDOWS_ARM64.md
  docs/development/WINDOWS_ARM64_BUILD.md
  src/flavor-go/coverage.out
  src/flavor-go/pkg/psp/format_2025/builder.go
  src/flavor-go/pkg/psp/format_2025/builder_windows.go
  src/flavor-go/pkg/psp/format_2025/builder_windows_test.go
  src/flavor/psp/format_2025/executor.py
  src/flavor/psp/format_2025/workenv.py
  tests/format_2025/test_bundle_execution.py
  tests/format_2025/test_workenv_commands.py
  tests/pretaster/KNOWN_ISSUES.md
  tools/build_wheel.py
Due: unit, integration, security

fix: Resolve taster grpcio yank, truststore SSL error, Windows combo test port
  .github/scripts/build-pretaster.sh
  .github/scripts/create-pretaster-matrix.sh
  .github/workflows/01-helper-prep.yml
  .github/workflows/02-pretaster-pipeline.yml
  .github/workflows/03-flavor-pipeline.yml
  .github/workflows/04-taster-pipeline.yml
  .github/workflows/release-pipeline.yml
  COVERAGE_ASSESSMENT.md
  WINDOWS_ARM64_COMPLETION_REPORT.md
  docs/development/CODE_COVERAGE_REGRESSION.md
  docs/development/DEFENSE_IN_DEPTH_FILE_OPS.md
  docs/development/LOCAL_TESTING_WINDOWS_ARM64.md
  docs/development/WINDOWS_ARM64_BUILD.md
  src/flavor-go/coverage.out
  src/flavor-go/pkg/psp/format_2025/builder.go
  src/flavor-go/pkg/psp/format_2025/builder_windows.go
  src/flavor-go/pkg/psp/format_2025/builder_windows_test.go
  src/flavor/psp/format_2025/executor.py
  src/flavor/psp/format_2025/workenv.py
  tests/format_2025/test_bundle_execution.py
  tests/format_2025/test_workenv_commands.py
  tests/pretaster/KNOWN_ISSUES.md
  tests/pretaster/failure-diagnostics/pretaster-go-go-load-fail.hex
  tools/build_wheel.py
Due: unit, integration, security

fix: set PYTHONUTF8=1 in build-taster-with-psp.sh
  .github/scripts/build-taster-with-psp.sh
Due: none

fix: resolve taster grpcio yank and truststore SSL error on Windows
  src/flavor/packaging/python/uv_manager.py
  tests/taster/uv.lock
Due: unit, integration

fix: add --no-config to uv wheel install in PSP setup commands
  src/flavor/packaging/orchestrator_helpers.py
Due: unit, integration

fix: pass --no-truststore to all pip commands to fix Windows GHA SSL error
  src/flavor/packaging/python/pypapip_manager.py
  src/flavor/packaging/python/uv_manager.py
Due: unit, integration

fix: block pip vendored truststore on Windows via -c wrapper
  src/flavor/packaging/python/pypapip_manager.py
  tests/packaging/python/test_pypapip_manager.py
Due: unit, integration

fix: add --no-build-isolation to pip wheel to prevent subprocess truststore crash
  src/flavor/packaging/python/pypapip_manager.py
  tests/packaging/python/test_pypapip_manager.py
Due: unit, integration

fix: use_isolation=False for local dep builds; fix test sys.platform mocking
  src/flavor/packaging/python/slot_builder.py
  tests/packaging/python/test_dist_manager.py
  tests/packaging/python/test_integration.py
  tests/packaging/python/test_wheel_builder.py
  tests/packaging/python/test_wheel_builder_critical.py
Due: unit, integration

fix: find uv next to Python exe; add arm64 Windows uv URL; update versions
  src/flavor/packaging/python/uv_manager.py
  tests/packaging/python/test_integration.py
  tests/packaging/python/test_uv_manager.py
Due: unit, integration

fix: also search Scripts/ and bin/ subdirs when finding uv next to Python
  src/flavor/packaging/python/uv_manager.py
Due: unit, integration

fix: constrain cffi>=2.0.0 on win_arm64 in taster; regenerate uv.lock
  tests/taster/pyproject.toml
  tests/taster/uv.lock
Due: none

fix: use cffi>=2.0.0 globally in taster (matches flavorpack constraint)
  tests/taster/pyproject.toml
  tests/taster/uv.lock
Due: none

fix: use uv_manager.find_system_uv in dependency_resolver; add cryptography>=46 constraint
  src/flavor/packaging/python/dependency_resolver.py
  tests/taster/pyproject.toml
  tests/taster/uv.lock
Due: unit, integration

fix: use entry-point module for Windows -m invocation; exclude grpcio on win_arm64
  src/flavor/packaging/orchestrator_helpers.py
  tests/taster/pyproject.toml
  tests/taster/uv.lock
Due: unit, integration

feat: add build-backends dependency group (setuptools==82.0.1, wheel pinned)
  pyproject.toml
  uv.lock
Due: none

feat: assert pinned build backend versions instead of installing
  src/flavor/packaging/python/wheel_builder.py
  tests/packaging/python/test_wheel_builder.py
  tests/packaging/python/test_wheel_builder_critical.py
Due: unit, integration

fix: pin wheel==0.46.3 in build-backends group; add PackageNotFoundError test
  pyproject.toml
  tests/packaging/python/test_wheel_builder_critical.py
  uv.lock
Due: none

feat: bundle pinned build-backend wheels into PSPF slot
  src/flavor/packaging/python/slot_builder.py
  tests/packaging/python/test_slot_builder_build_backends.py
Due: unit, integration

fix: use _pip_base_cmd for Windows SSL safety; add --hashes to uv export
  src/flavor/packaging/python/slot_builder.py
  tests/packaging/python/test_slot_builder_build_backends.py
Due: unit, integration

docs: add hermetic build-backends spec and implementation plan
  docs/superpowers/plans/2026-03-27-hermetic-build-backends.md
  docs/superpowers/specs/2026-03-27-hermetic-build-backends-design.md
Due: none
