Repository provide-io/flavorpack: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, security

fix: mutmut compatibility — hypothesis health check and test assertion
  tests/conftest.py
  tests/helpers/test_helper_manager.py
Due: none

fix: cross-language accuracy fixes — lifecycle enum, op chain, slot metadata, spec doc
  docs/reference/spec/SLOT_DESCRIPTOR_SPECIFICATION.md
  src/flavor-go/cmd/flavor-go-launcher/main.go
  src/flavor-go/pkg/psp/format_2025/index.go
  src/flavor-go/pkg/psp/format_2025/launcher.go
  src/flavor-go/pkg/psp/format_2025/launcher_validation.go
  src/flavor-go/pkg/psp/format_2025/metadata.go
  src/flavor-go/pkg/psp/format_2025/runtime.go
  src/flavor-rs/src/psp/format_2025/index.rs
  src/flavor-rs/src/psp/format_2025/operations.rs
  src/flavor-rs/src/psp/format_2025/slots.rs
  src/flavor/psp/format_2025/slots.py
Due: unit, integration, security

chore: update all GitHub Actions to latest Node.js 24-compatible versions
  .github/workflows/01-helper-prep.yml
  .github/workflows/02-pretaster-pipeline.yml
  .github/workflows/03-flavor-pipeline.yml
  .github/workflows/04-taster-pipeline.yml
  .github/workflows/05-code-quality.yml
  .github/workflows/06-security-scan.yml
  .github/workflows/07-dependency-audit.yml
  .github/workflows/08-license-compliance.yml
  .github/workflows/compatibility-check.yml
  .github/workflows/release-pipeline.yml
Due: none

refactor: clean up dead code and logging levels in Rust index/reader
  src/flavor-rs/src/psp/format_2025/index.rs
  src/flavor-rs/src/psp/format_2025/reader.rs
Due: none

test: add coverage for cache, workenv CLI, launcher, log_guards, and package parsing paths
  .github/workflows/03-flavor-pipeline.yml
  src/flavor-go/pkg/psp/format_2025/runtime.go
  src/flavor-go/pkg/psp/format_2025/slot_processor.go
  src/flavor-rs/src/psp/format_2025/builder/slot_processor.rs
  src/flavor-rs/src/psp/format_2025/reader.rs
  src/flavor/psp/format_2025/validation.py
  src/flavor/psp/format_2025/workenv.py
  tests/cache/test_cache_error_paths.py
  tests/cli/test_workenv_cli.py
  tests/conftest.py
  tests/format_2025/test_launcher_coverage.py
  tests/format_2025/test_launcher_execution.py
  tests/format_2025/test_pspf_2025_slots_lifecycle.py
  tests/format_2025/test_slots.py
  tests/format_2025/test_workenv_core.py
  tests/test_package_parsing.py
  tests/utils/test_log_guards_coverage.py
Due: unit, integration, security

fix: comprehensive cross-platform, security, and code quality fixes
  .github/scripts/get-release-runs.sh
  .github/workflows/01-helper-prep.yml
  .github/workflows/03-flavor-pipeline.yml
  .github/workflows/04-taster-pipeline.yml
  .github/workflows/05-code-quality.yml
  .github/workflows/06-security-scan.yml
  .github/workflows/07-dependency-audit.yml
  .github/workflows/08-license-compliance.yml
  .github/workflows/compatibility-check.yml
  .github/workflows/release-pipeline.yml
  CLAUDE.md
  README.md
  src/flavor-go/pkg/psp/format_2025/defaults.go
  src/flavor-go/pkg/psp/format_2025/execution.go
  src/flavor-go/pkg/psp/format_2025/execution_env.go
  src/flavor-go/pkg/psp/format_2025/launcher.go
  src/flavor-go/pkg/psp/format_2025/reader_slots.go
  src/flavor-rs/src/psp/format_2025/execution/commands.rs
  src/flavor-rs/src/psp/format_2025/extraction.rs
  src/flavor-rs/src/psp/format_2025/launcher/command.rs
  src/flavor-rs/src/psp/format_2025/locking.rs
  src/flavor/locking.py
  src/flavor/output.py
  src/flavor/packaging/python/dependency_resolver.py
  src/flavor/packaging/python/environment_builder.py
  src/flavor/packaging/python/slot_builder.py
  src/flavor/packaging/python/uv_manager.py
  src/flavor/packaging/python/wheel_builder.py
  src/flavor/psp/format_2025/workenv.py
  src/flavor/psp/metadata/paths.py
  src/flavor/utils/log_guards.py
Due: unit, integration, security

test: add regression tests for cross-platform fixes and version sync
  src/flavor-go/pkg/psp/format_2025/vectors_regression_test.go
  src/flavor-rs/src/psp/format_2025/execution/commands.rs
  src/flavor-rs/src/psp/format_2025/launcher/command.rs
  src/flavor/packaging/orchestrator_helpers.py
  tests/cli/test_pack_removed_options.py
  tests/format_2025/test_workenv_core.py
  tests/packaging/test_orchestrator.py
  tests/test_version_sync.py
Due: unit, integration

chore: update actions/setup-python and actions/setup-go to v6
  .github/workflows/01-helper-prep.yml
  .github/workflows/03-flavor-pipeline.yml
  .github/workflows/04-taster-pipeline.yml
  .github/workflows/05-code-quality.yml
  .github/workflows/06-security-scan.yml
  .github/workflows/07-dependency-audit.yml
  .github/workflows/08-license-compliance.yml
  .github/workflows/compatibility-check.yml
Due: none

fix(tests): make workenv tests platform-aware on Windows
  tests/format_2025/test_workenv_core.py
  tests/format_2025/test_workenv_directories.py
Due: none

chore: migrate CI workflows from pip to uv, upgrade setup-uv to v8
  .github/workflows/01-helper-prep.yml
  .github/workflows/03-flavor-pipeline.yml
  .github/workflows/04-taster-pipeline.yml
  .github/workflows/05-code-quality.yml
  .github/workflows/06-security-scan.yml
  .github/workflows/07-dependency-audit.yml
  .github/workflows/08-license-compliance.yml
  src/flavor-rs/src/psp/format_2025/execution/commands.rs
Due: none

fix(ci): pin astral-sh/setup-uv to v8.0.0 SHA
  .github/workflows/01-helper-prep.yml
  .github/workflows/03-flavor-pipeline.yml
  .github/workflows/04-taster-pipeline.yml
  .github/workflows/05-code-quality.yml
  .github/workflows/06-security-scan.yml
  .github/workflows/07-dependency-audit.yml
  .github/workflows/08-license-compliance.yml
Due: none

fix(ci): disable uv cache on helper-prep (no Python packages installed)
  .github/workflows/01-helper-prep.yml
Due: none

fix(ci): add --system flag to uv pip install in build-wheels job
  .github/workflows/03-flavor-pipeline.yml
Due: none

fix(ci): use uv venv for build-wheel job instead of --system
  .github/workflows/03-flavor-pipeline.yml
Due: none

fix(ci): remove pip from build scripts, use uv throughout
  .github/scripts/build-platform-wheel.sh
  .github/scripts/setup-python-workenv.sh
Due: none

fix(ci): add setup-python before setup-uv for windows_arm64 compatibility
  .github/workflows/03-flavor-pipeline.yml
Due: none

fix(ci): only run taster when flavor pipeline succeeds
  .github/workflows/04-taster-pipeline.yml
Due: none

fix(tests): Windows compatibility - UTF-8 encoding and taster exclusion
  pyproject.toml
  tests/conftest.py
Due: none

fix(tests): use contextlib.suppress to satisfy ruff SIM105
  tests/conftest.py
Due: none

Path conditions:
  unit: any of: src/flavor/, but not: tests/, **/*_pb2.py, **/*_pb2.pyi, **/generated/*, **/__pycache__/
  integration: any of: src/flavor/, but not: tests/, **/*_pb2.py, **/*_pb2.pyi, **/generated/*, **/__pycache__/
  security: any of: src/flavor/psp/, src/flavor/crypto/, but not: tests/, **/*_pb2.py, **/*_pb2.pyi, **/generated/*, **/__pycache__/
