Repository provide-io/flavorpack: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, security

refactor(launcher): collapse the duplicated slot-merge branches
  src/flavor-go/pkg/psp/format_2025/execution_slots.go
  src/flavor-go/pkg/psp/format_2025/execution_slots_merge.go
Due: none

refactor(launcher): decompose slot extraction and launcher logging
  src/flavor-go/pkg/psp/format_2025/launcher.go
  src/flavor-go/pkg/psp/format_2025/launcher_logging.go
  src/flavor-go/pkg/psp/format_2025/reader_slots.go
  src/flavor-go/pkg/psp/format_2025/reader_slots_extract.go
Due: none

refactor(launcher): lift command resolution and env layering out of the launch path
  src/flavor-go/pkg/psp/format_2025/execution.go
  src/flavor-go/pkg/psp/format_2025/execution_command.go
Due: none

refactor(python): clear the remaining rank-D blocks
  src/flavor/commands/doctor.py
  src/flavor/packaging/orchestrator_helpers.py
Due: unit, integration

refactor(python): remove six of the seven C901 suppressions
  src/flavor/commands/helpers.py
  src/flavor/commands/workenv.py
  src/flavor/helpers/manager.py
  src/flavor/packaging/python/slot_builder.py
  src/flavor/psp/format_2025/handlers.py
  src/flavor/psp/format_2025/validation.py
Due: unit, integration, security

refactor(launcher): decompose the Python launcher's extract_slot
  src/flavor/psp/format_2025/launcher.py
Due: unit, integration, security

chore(ci): enforce the complexity checks as ratchets
  ci/quality-checks.sh
Due: none

chore: 0.5.0
  VERSION
  src/flavor-go/cmd/flavor-go-builder/main.go
  src/flavor-rs/Cargo.lock
  src/flavor-rs/Cargo.toml
  src/flavor-rs/src/version.rs
Due: none

fix(packaging): report the launcher read-back where the build's output goes
  src/flavor/packaging/orchestrator_helpers.py
  tests/packaging/test_orchestrator_self_check.py
Due: unit, integration

fix(ci): stop dropping the Windows flavor packages from every release
  .github/workflows/release.yml
  ci/organize-release-packages.sh
Due: none

fix(ci): name Windows taster packages .exe, like everything else
  .github/workflows/release.yml
  .github/workflows/taster-pipeline.yml
  ci/build-taster-with-psp.sh
Due: none

chore(go): upgrade provide-telemetry to v0.9.0
  src/flavor-go/go.mod
  src/flavor-go/go.sum
  src/flavor-go/pkg/logging/logger.go
  src/flavor-go/pkg/logging/telemetry_writer_test.go
Due: none

test(ci): lint and test the release pipeline's shell scripts
  .github/workflows/code-quality.yml
  .github/workflows/pr-tests.yml
  .pre-commit-config.yaml
  ci/freebsd-build-rust.sh
  ci/freebsd-prep-rust.sh
  ci/organize-release-packages.sh
  ci/pr-tests.sh
  ci/quality-checks.sh
  ci/run-pretaster-tests.sh
  ci/test-binaries.sh
  tests/ci/test_organize_release_packages.py
Due: none

test(ci): cover the rest of the release pipeline's scripts
  ci/organize-release-wheels.sh
  tests/ci/test_create_release_tag.py
  tests/ci/test_get_release_runs.py
  tests/ci/test_organize_release_wheels.py
  tests/ci/test_validate_release_version.py
Due: none

test(ci): pin the naming contract in the two build scripts
  tests/ci/test_build_scripts_naming.py
Due: none

test(ci): pin the naming contract in the two build scripts (#69)
  tests/ci/test_build_scripts_naming.py
Due: none

fix(release): carry Windows packages all the way to the release
  .github/workflows/release.yml
  ci/assemble-release-files.sh
  ci/generate-release-checksums.sh
  ci/generate-release-notes.sh
  tests/ci/test_assemble_release_files.py
  tests/ci/test_generate_release_checksums.py
  tests/ci/test_generate_release_notes.py
Due: none

fix(release): carry Windows packages all the way to the release (#70)
  .github/workflows/release.yml
  ci/assemble-release-files.sh
  ci/generate-release-checksums.sh
  ci/generate-release-notes.sh
  tests/ci/test_assemble_release_files.py
  tests/ci/test_generate_release_checksums.py
  tests/ci/test_generate_release_notes.py
Due: none

docs(changelog): record the fourteen releases it had stopped short of
  docs/community/changelog.md
Due: none

docs(changelog): record the fourteen releases it had stopped short of (#71)
  docs/community/changelog.md
Due: none

feat(flavor-rs): log through provide-telemetry, keeping the runtime prefix
  src/flavor-rs/Cargo.lock
  src/flavor-rs/Cargo.toml
  src/flavor-rs/src/bin/flavor-rs-builder.rs
  src/flavor-rs/src/bin/flavor-rs-launcher.rs
  src/flavor-rs/src/logger.rs
  src/flavor-rs/src/logger/bridge.rs
  src/flavor-rs/src/logger/mod.rs
  src/flavor-rs/src/logger/prefix.rs
  src/flavor-rs/tests/log_prefix_console.rs
  src/flavor-rs/tests/log_prefix_json.rs
Due: none

feat(flavor-rs): log through provide-telemetry, keeping the runtime prefix (#72)
  src/flavor-rs/Cargo.lock
  src/flavor-rs/Cargo.toml
  src/flavor-rs/src/bin/flavor-rs-builder.rs
  src/flavor-rs/src/bin/flavor-rs-launcher.rs
  src/flavor-rs/src/logger.rs
  src/flavor-rs/src/logger/bridge.rs
  src/flavor-rs/src/logger/mod.rs
  src/flavor-rs/src/logger/prefix.rs
  src/flavor-rs/tests/log_prefix_console.rs
  src/flavor-rs/tests/log_prefix_json.rs
Due: none

chore(release): 0.5.1
  VERSION
  docs/community/changelog.md
  src/flavor-go/cmd/flavor-go-builder/main.go
  src/flavor-rs/Cargo.lock
  src/flavor-rs/Cargo.toml
  src/flavor-rs/src/version.rs
Due: none

chore(release): 0.5.1 (#73)
  VERSION
  docs/community/changelog.md
  src/flavor-go/cmd/flavor-go-builder/main.go
  src/flavor-rs/Cargo.lock
  src/flavor-rs/Cargo.toml
  src/flavor-rs/src/version.rs
Due: none

fix(ci): pin and lock every cargo tool install
  .github/workflows/code-quality.yml
  .github/workflows/dependency-audit.yml
  .github/workflows/license-compliance.yml
  .github/workflows/security-scan.yml
  ci/install-rust-cargo-tools.sh
  tests/ci/test_install_rust_cargo_tools.py
Due: none

fix(ci): verify an installed cargo tool without assuming --version
  ci/install-rust-cargo-tools.sh
  tests/ci/test_install_rust_cargo_tools.py
Due: none

Pin and lock every cargo tool install (#74)
  .github/workflows/code-quality.yml
  .github/workflows/dependency-audit.yml
  .github/workflows/license-compliance.yml
  .github/workflows/security-scan.yml
  ci/install-rust-cargo-tools.sh
  tests/ci/test_install_rust_cargo_tools.py
Due: none

fix(packaging): keep a git-sourced dependency, and relaunch a rebuilt package
  src/flavor-rs/src/psp/format_2025/execution/validation.rs
  src/flavor/packaging/python/pypapip_manager.py
  tests/packaging/python/test_pypapip_manager.py
Due: unit, integration

fix(packaging): keep a git-sourced dependency, and relaunch a rebuilt package (#75)
  src/flavor-rs/src/psp/format_2025/execution/validation.rs
  src/flavor/packaging/python/pypapip_manager.py
  tests/packaging/python/test_pypapip_manager.py
Due: unit, integration

build: raise the provide-testkit floor to 0.5.0
  pyproject.toml
  uv.lock
Due: none

build: raise the provide-testkit floor to 0.5.0 (#76)
  pyproject.toml
  uv.lock
Due: none

build: setuptools 83.0.0
  pyproject.toml
  src/flavor/packaging/python/wheel_builder.py
  tests/packaging/python/test_slot_builder_build_backends.py
  tests/taster/pyproject.toml
  uv.lock
Due: unit, integration

build: setuptools 83.0.0 (#77)
  pyproject.toml
  src/flavor/packaging/python/wheel_builder.py
  tests/packaging/python/test_slot_builder_build_backends.py
  tests/taster/pyproject.toml
  uv.lock
Due: unit, integration

release: 0.5.2
  VERSION
  src/flavor-go/cmd/flavor-go-builder/main.go
  src/flavor-rs/Cargo.lock
  src/flavor-rs/Cargo.toml
  src/flavor-rs/src/version.rs
Due: none

release: 0.5.2 (#78)
  VERSION
  src/flavor-go/cmd/flavor-go-builder/main.go
  src/flavor-rs/Cargo.lock
  src/flavor-rs/Cargo.toml
  src/flavor-rs/src/version.rs
Due: none

fix(packaging): fail the build when no wheel exists for the target platform
  src/flavor/exceptions.py
  src/flavor/packaging/python/pypapip_manager.py
  src/flavor/packaging/python/wheel_builder.py
  tests/test_wheel_download_resolution_failure.py
Due: unit, integration

Path conditions:
  unit: any of: src/flavor/, but not: tests/, **/*_pb2.py, **/*_pb2.pyi, **/generated/*, **/__pycache__/
  integration: any of: src/flavor/, but not: tests/, **/*_pb2.py, **/*_pb2.pyi, **/generated/*, **/__pycache__/
  security: any of: src/flavor/psp/, src/flavor/crypto/, but not: tests/, **/*_pb2.py, **/*_pb2.pyi, **/generated/*, **/__pycache__/
