Repository provide-io/flavorpack: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, security

fix(windows): harden Windows-only PSPF paths in Go and Rust
  src/flavor-go/internal/workenv/workenv_test.go
  src/flavor-go/pkg/psp/format_2025/diskspace_windows.go
  src/flavor-go/pkg/psp/format_2025/execution_env_test.go
  src/flavor-go/pkg/psp/format_2025/execution_policy_test.go
  src/flavor-go/pkg/psp/format_2025/execution_utils_test.go
  src/flavor-go/pkg/psp/format_2025/reader_slots_additional_test.go
  src/flavor-go/pkg/psp/format_2025/security_helpers_test.go
  src/flavor-rs/src/psp/format_2025/builder/mod.rs
  src/flavor-rs/src/psp/format_2025/execution/commands.rs
  src/flavor-rs/src/psp/format_2025/launcher/command.rs
  src/flavor-rs/src/psp/format_2025/launcher/mod.rs
  src/flavor-rs/src/psp/format_2025/policy.rs
Due: none

fix(go): platform-aware admin check for refuse_root policy enforcement
  src/flavor-go/pkg/psp/format_2025/builder.go
  src/flavor-go/pkg/psp/format_2025/execution_policy.go
  src/flavor-go/pkg/psp/format_2025/privilege_unix.go
  src/flavor-go/pkg/psp/format_2025/privilege_windows.go
  src/flavor-rs/Cargo.toml
  src/flavor-rs/src/psp/format_2025/builder/mod.rs
  src/flavor-rs/src/psp/format_2025/policy.rs
  src/flavor/psp/format_2025/backends.py
  tests/format_2025/test_coverage_gaps.py
  tests/format_2025/test_pspf_2025_backends.py
Due: unit, integration, security

fix(rust): make PlatformInfo.host optional to accept Python-built bundles
  .github/workflows/08-license-compliance.yml
  src/flavor-rs/src/psp/format_2025/builder/metadata.rs
  src/flavor-rs/src/psp/format_2025/launcher/workenv.rs
  src/flavor-rs/src/psp/format_2025/metadata.rs
Due: none

fix(rust): wrap test fixture host value in Some()
  src/flavor-rs/src/psp/format_2025/metadata.rs
Due: none

fix(ci): match helpers by prefix in validate_wheel.py
  tools/validate_wheel.py
Due: none

fix(ci): fix YAML parse error in cargo-deny heredoc
  .github/workflows/08-license-compliance.yml
Due: none

test(go): harden launcher paths and expand native coverage
  src/flavor-go/pkg/psp/format_2025/builder_test.go
  src/flavor-go/pkg/psp/format_2025/crypto_test.go
  src/flavor-go/pkg/psp/format_2025/execution.go
  src/flavor-go/pkg/psp/format_2025/execution_cache_additional_test.go
  src/flavor-go/pkg/psp/format_2025/execution_policy_test.go
  src/flavor-go/pkg/psp/format_2025/execution_resolve_test.go
  src/flavor-go/pkg/psp/format_2025/execution_slots.go
  src/flavor-go/pkg/psp/format_2025/execution_utils_test.go
  src/flavor-go/pkg/psp/format_2025/launcher_cli_test.go
  src/flavor-go/pkg/psp/format_2025/launcher_dispatch_additional_test.go
  src/flavor-go/pkg/psp/format_2025/launcher_execution_test.go
  src/flavor-go/pkg/psp/format_2025/reader_slots.go
  src/flavor-go/pkg/psp/format_2025/reader_slots_additional_test.go
  src/flavor-go/pkg/psp/format_2025/runtime_utils_test.go
Due: none

test(go): cover extraction merges and exec path edges
  src/flavor-go/pkg/psp/format_2025/execution.go
  src/flavor-go/pkg/psp/format_2025/launcher_dispatch_additional_test.go
  src/flavor-go/pkg/psp/format_2025/launcher_execution_additional_test.go
  src/flavor-go/pkg/psp/format_2025/launcher_execution_test.go
Due: none

chore(rust): improve checksum mismatch diagnostics
  src/flavor-rs/src/psp/format_2025/verifier.rs
Due: none

fix(rust): hash slot data in chunks to fix checksum failure on large PSP files
  src/flavor-rs/src/psp/format_2025/verifier.rs
Due: none

fix(rust): advance slot checksum loop by actual bytes read, not requested
  src/flavor-rs/src/psp/format_2025/verifier.rs
Due: none

fix(windows): cross-platform compatibility for Go/Rust/Python on Windows
  src/flavor-go/pkg/psp/format_2025/builder.go
  src/flavor-go/pkg/psp/format_2025/execution_resolve_test.go
  src/flavor-rs/src/psp/format_2025/launcher/mod.rs
  src/flavor/cache.py
  tests/cli/test_policy_command.py
  tests/format_2025/test_launcher_execution.py
  tests/integration/test_pretaster_integration.py
  tests/packaging/python/test_coverage_gaps.py
  tests/packaging/test_orchestrator.py
  tests/parity/test_extraction_parity.py
  tests/parity/test_platform_parity.py
  tests/test_quality_observability.py
  tests/test_test_taxonomy.py
Due: unit, integration

fix: repair validate_wheel smoke-test syntax error and guard empty backend reads
  src/flavor-rs/src/psp/format_2025/verifier.rs
  tools/validate_wheel.py
Due: none

fix(rust): StreamBackend.read_slot() assembles full slot instead of truncating to one chunk
  src/flavor-rs/src/psp/format_2025/backends.rs
Due: none

fix(windows): resolve launcher binary lookup on Windows for attestation slot
  src/flavor/psp/format_2025/builder.py
  src/flavor/psp/format_2025/metadata/assembly.py
  tests/conftest.py
Due: unit, integration, security

refactor(go): centralize FLAVOR_* env var names as constants
  src/flavor-go/cmd/flavor-go-builder/main.go
  src/flavor-go/internal/workenv/workenv.go
  src/flavor-go/internal/workenv/workenv_test.go
  src/flavor-go/pkg/envvars/envvars.go
  src/flavor-go/pkg/logging/logger.go
  src/flavor-go/pkg/logging/logger_test.go
  src/flavor-go/pkg/psp/format_2025/execution.go
  src/flavor-go/pkg/psp/format_2025/execution_env.go
  src/flavor-go/pkg/psp/format_2025/execution_env_test.go
  src/flavor-go/pkg/psp/format_2025/execution_policy_test.go
  src/flavor-go/pkg/psp/format_2025/launcher.go
  src/flavor-go/pkg/psp/format_2025/launcher_cli_additional_test.go
  src/flavor-go/pkg/psp/format_2025/launcher_dispatch_additional_test.go
  src/flavor-go/pkg/psp/format_2025/launcher_execution_additional_test.go
  src/flavor-go/pkg/psp/format_2025/launcher_execution_test.go
  src/flavor-go/pkg/psp/format_2025/launcher_test.go
  src/flavor-go/pkg/psp/format_2025/trust_test.go
Due: none

refactor(python): add ENV_CACHE_COMPAT constant; deduplicate XDG cache base lookup
  src/flavor/cache.py
  src/flavor/config/defaults.py
  src/flavor/helpers/manager.py
  src/flavor/psp/format_2025/metadata/assembly.py
Due: unit, integration, security

fix(validate-wheel): validate helpers against wheel platform tag, reject wrong-platform or duplicate helpers
  tests/tools/__init__.py
  tests/tools/test_validate_wheel.py
  tools/validate_wheel.py
Due: none

refactor(rust): centralize FLAVOR_* env var names; rename FLAVOR_CACHE to FLAVOR_CACHE_DIR
  src/flavor-rs/src/env_vars.rs
  src/flavor-rs/src/psp/format_2025/execution/commands.rs
  src/flavor-rs/src/psp/format_2025/launcher/command.rs
  src/flavor-rs/src/psp/format_2025/policy.rs
Due: none

Path conditions:
  unit: any of: src/flavor/, but not: tests/, **/*_pb2.py, **/*_pb2.pyi, **/generated/*, **/__pycache__/
  integration: any of: src/flavor/, but not: tests/, **/*_pb2.py, **/*_pb2.pyi, **/generated/*, **/__pycache__/
  security: any of: src/flavor/psp/, src/flavor/crypto/, but not: tests/, **/*_pb2.py, **/*_pb2.pyi, **/generated/*, **/__pycache__/
