Repository provide-io/flavorpack: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, security

feat(format): add attestation fields to PSPFIndex carved from reserved space
  tests/format_2025/test_attestation_index.py
Due: none

fix(config): add future annotations import and fix import ordering in dirs.py
  src/flavor/config/dirs.py
Due: unit, integration

feat(format): add LifecycleAttestation=11 across Python, Go, Rust
  tests/parity/test_lifecycle_constants.py
Due: none

feat(go): add GetConfigRoot/GetSystemConfigRoot; fix run-tests.sh bash array safety
  ci/run-tests.sh
  src/flavor-go/internal/workenv/workenv.go
Due: none

feat(cli): add flavor init [--global] command
  src/flavor/cli.py
  src/flavor/commands/init.py
  tests/cli/test_init_command.py
Due: unit, integration

spec(fep-0003): align constant and field names with implementation
  docs/reference/spec/fep-0003-security-attestation-extension.md
Due: none

spec: add FEP-0003 security attestation extension (lifecycle=11, trusted keys, SBOM, policy)
  docs/reference/spec/fep-0003-security-attestation-extension.md
Due: none

fix(init): add SPDX header, export from __init__, fix hint messages
  src/flavor/commands/init.py
  tests/cli/test_init_command.py
Due: unit, integration

spec: rename to FEP-0004, fix cross-references and prefix convention
  docs/reference/spec/fep-0003-security-attestation-extension.md
  docs/reference/spec/fep-0004-security-attestation-extension.md
Due: none

spec(fep-0003): fix critical ambiguities and RFC 2119 misuse
  docs/reference/spec/fep-0003-security-attestation-extension.md
Due: none

feat(builder): write key fingerprint into index attestation field
  src/flavor/psp/format_2025/builder.py
  tests/format_2025/test_key_fingerprint_in_index.py
Due: unit, integration, security

feat(trust): add trusted key store loader and fingerprint computation
  src/flavor/config/trust.py
  tests/config/test_trust.py
Due: unit, integration

Path conditions:
  unit: any of: src/flavor/, but not: tests/, **/*_pb2.py, **/*_pb2.pyi, **/generated/*, **/__pycache__/
  integration: any of: src/flavor/, but not: tests/, **/*_pb2.py, **/*_pb2.pyi, **/generated/*, **/__pycache__/
  security: any of: src/flavor/psp/, src/flavor/crypto/, but not: tests/, **/*_pb2.py, **/*_pb2.pyi, **/generated/*, **/__pycache__/
