Repository provide-io/flavorpack: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, security

.codecov.yml:

# Codecov configuration for flavorpack
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 1%

  precision: 2
  round: down
  range: "70...100"

ignore:
  - "tests/"
  - "**/*_pb2.py"
  - "**/*_pb2.pyi"
  - "**/generated/*"
  - "**/__pycache__/"

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false

flags:
  unit:
    paths:
      - src/flavor/
  integration:
    paths:
      - src/flavor/
  security:
    paths:
      - src/flavor/psp/
      - src/flavor/crypto/

test(go): raise coverage to 80% by filling critical branch gaps
  src/flavor-go/cmd/flavor-go-builder/main_test.go
  src/flavor-go/internal/workenv/validation_test.go
  src/flavor-go/internal/workenv/workenv_test.go
  src/flavor-go/pkg/logging/logger_test.go
  src/flavor-go/pkg/logging/prefix_writer_test.go
  src/flavor-go/pkg/psp/format_2025/attestation_verify_test.go
  src/flavor-go/pkg/psp/format_2025/builder_test.go
  src/flavor-go/pkg/psp/format_2025/execution_cache_additional_test.go
  src/flavor-go/pkg/psp/format_2025/execution_helpers_additional_test.go
  src/flavor-go/pkg/psp/format_2025/execution_policy_test.go
  src/flavor-go/pkg/psp/format_2025/execution_resolve_test.go
  src/flavor-go/pkg/psp/format_2025/execution_slots.go
  src/flavor-go/pkg/psp/format_2025/execution_utils_test.go
  src/flavor-go/pkg/psp/format_2025/launcher_execution_test.go
  src/flavor-go/pkg/psp/format_2025/reader_verify_test.go
  src/flavor-go/pkg/psp/format_2025/slot_processor_test.go
  src/flavor-go/pkg/psp/format_2025/slots_test.go
  src/flavor-go/pkg/psp/format_2025/trust_test.go
  src/flavor-go/pkg/verification_test.go
Due: none

fix: address fragility hotspots #4, #5, and #8
  src/flavor-go/internal/workenv/workenv_test.go
  src/flavor-go/pkg/psp/format_2025/attestation_verify_test.go
  src/flavor-go/pkg/psp/format_2025/execution_slots.go
Due: none

fix(ci): fix FreeBSD arm64 wheel tag, cryptography override, and pretaster python3 path
  .github/workflows/02-pretaster-pipeline.yml
  .github/workflows/03-flavor-pipeline.yml
  ci/build-flavor-freebsd.sh
Due: none

fix(freebsd): add FreeBSD cache path and update platform detection
  .github/workflows/exp-freebsd.yml
  .gitignore
  src/flavor-go/cmd/flavor-go-builder/main_test.go
  src/flavor-go/coverage.out
  src/flavor-go/coverage.txt
  src/flavor-go/internal/workenv/validation_test.go
  src/flavor-go/internal/workenv/workenv.go
  src/flavor-go/internal/workenv/workenv_test.go
  src/flavor-go/pkg/logging/logger_test.go
  src/flavor-go/pkg/logging/prefix_writer_test.go
  src/flavor-go/pkg/psp/format_2025/builder_test.go
  src/flavor-go/pkg/psp/format_2025/execution_cache_additional_test.go
  src/flavor-go/pkg/psp/format_2025/execution_helpers_additional_test.go
  src/flavor-go/pkg/psp/format_2025/execution_policy.go
  src/flavor-go/pkg/psp/format_2025/execution_policy_test.go
  src/flavor-go/pkg/psp/format_2025/execution_resolve_test.go
  src/flavor-go/pkg/psp/format_2025/execution_utils_test.go
  src/flavor-go/pkg/psp/format_2025/launcher_execution_test.go
  src/flavor-go/pkg/psp/format_2025/reader_verify_test.go
  src/flavor-go/pkg/psp/format_2025/slot_processor_test.go
  src/flavor-go/pkg/psp/format_2025/slots_test.go
  src/flavor-go/pkg/psp/format_2025/trust_test.go
  src/flavor-go/pkg/verification_test.go
Due: none

fix(ci): correct FreeBSD compatibility issues in CI scripts and workflows
  .github/workflows/01-helper-prep.yml
  .github/workflows/02-pretaster-pipeline.yml
  .github/workflows/03-flavor-pipeline.yml
  ci/build-flavor-freebsd.sh
  ci/build-pretaster.sh
  ci/create-pretaster-matrix.sh
  ci/get-version.sh
  ci/prewarm-wheel-cache.sh
  ci/run-pretaster-tests.sh
  ci/run-tests.sh
  ci/test-binaries.sh
  ci/test-flavor-psp-freebsd.sh
  ci/test-flavor-self-contained.sh
  tests/pretaster/scripts/combo_test.sh
  tests/pretaster/scripts/echo_test.sh
  tests/pretaster/scripts/env_test.sh
  tests/pretaster/scripts/init_cleanup_check.sh
  tests/pretaster/scripts/log_test.sh
  tests/pretaster/scripts/minimal_test.sh
  tests/pretaster/scripts/orchestrate.sh
  tests/pretaster/scripts/orchestrator/orchestrate.sh
  tests/pretaster/scripts/permission_test.sh
  tests/pretaster/scripts/simple_test.sh
  tests/pretaster/scripts/test-with-taster.sh
  tests/pretaster/slots/scripts/test1.sh
  tests/pretaster/slots/scripts/test2.sh
  tests/pretaster/slots/utilities/hello.sh
  tests/pretaster/slots/utilities/info.sh
  tests/pretaster/tests/combination-tests.sh
  tests/pretaster/tests/compatibility-tests.sh
  tests/pretaster/tests/direct-execution-tests.sh
  tests/pretaster/tests/json-manifest-combinations.sh
  tests/pretaster/tests/test-all-taster-commands.sh
  tests/pretaster/tests/test-lib.sh
  tests/pretaster/tests/test-pretaster.sh
  tests/pretaster/tests/test-security.sh
  tests/pretaster/tests/test_exit_codes.sh
  tests/tools/test_validate_wheel.py
  tools/validate_wheel.py
Due: none

fix: use split go/rust artifact names in pretaster helper downloads
  .github/workflows/02-pretaster-pipeline.yml
Due: none

chore(go): update coverage artifacts to 80.0% and gitignore temp profiles
  .gitignore
  src/flavor-go/coverage.out
  src/flavor-go/coverage.txt
Due: none

fix(ci): pin cryptography to exact pkg version in FreeBSD uv override
  ci/build-flavor-freebsd.sh
  pyproject.toml
Due: none

perf: cache Rust toolchain+registry via rustup into vm-rust-home working-dir relay
  .github/workflows/01-helper-prep.yml
  .github/workflows/build-rust.yml
  ci/freebsd-build-rust.sh
  ci/freebsd-prep-rust.sh
  ci/freebsd-prep-system.sh
Due: none

fix(workenv): add FreeBSD support to cache root resolution and tests
  .github/scripts/build-freebsd.sh
  .github/workflows/01-helper-prep.yml
  .github/workflows/exp-freebsd.yml
  src/flavor-go/cmd/flavor-go-builder/main.go
  src/flavor-go/cmd/flavor-go-launcher/main.go
  src/flavor-go/internal/workenv/workenv.go
  src/flavor-go/internal/workenv/workenv_test.go
  src/flavor-go/pkg/psp/format_2025/builder.go
  src/flavor-go/pkg/psp/format_2025/diskspace_unix.go
  src/flavor-go/pkg/psp/format_2025/execution.go
  src/flavor-go/pkg/psp/format_2025/execution_cache.go
  src/flavor-go/pkg/psp/format_2025/execution_policy.go
  src/flavor-go/pkg/psp/format_2025/execution_resolve.go
  src/flavor-go/pkg/psp/format_2025/execution_slots.go
  src/flavor-go/pkg/psp/format_2025/execution_utils.go
  src/flavor-go/pkg/psp/format_2025/launcher.go
  src/flavor-go/pkg/psp/format_2025/launcher_cli.go
  src/flavor-go/pkg/psp/format_2025/locking.go
  src/flavor-go/pkg/psp/format_2025/locking_unix.go
  src/flavor-go/pkg/psp/format_2025/privilege_unix.go
  src/flavor-go/pkg/psp/format_2025/reader.go
  src/flavor-go/pkg/psp/format_2025/reader_slots.go
  src/flavor-go/pkg/psp/format_2025/reader_verify.go
  src/flavor-go/pkg/psp/format_2025/runtime.go
  src/flavor-go/pkg/psp/format_2025/trust.go
  src/flavor-go/pkg/verification.go
Due: none

docs: update Windows launcher status — Rust launcher stable on all platforms
  CLAUDE.md
Due: none

test(enforce_policy): add mutation-catching tests for policy enforcement and merge behavior
  src/flavor-go/pkg/psp/format_2025/execution_policy_test.go
  src/flavor-go/pkg/psp/format_2025/slot_processor.go
  src/flavor-go/pkg/psp/format_2025/slot_processor_test.go
  src/flavor-rs/src/psp/format_2025/policy.rs
  src/flavor/psp/format_2025/launcher.py
  tests/config/test_enforce_policy.py
  tests/format_2025/test_security_failure_branches.py
Due: unit, integration, security

ci(freebsd): set PIP_ONLY_BINARY=:all: during flavor pack to prevent source builds in temp dir
  ci/build-flavor-freebsd.sh
Due: none

ci(freebsd): add --find-links to pip download and pre-build cryptography wheel
  ci/build-flavor-freebsd.sh
  src/flavor/packaging/python/pypapip_manager.py
Due: unit, integration

fix(pypapip): pass find_links as parameter to _get_pypapip_download_cmd
  src/flavor/packaging/python/pypapip_manager.py
Due: unit, integration
